%social-email {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:white" d="M15.4,11.67H13.34v6.76H10.46V11.67H8.6V9.47h1.86V8.15a2.58,2.58,0,0,1,2.59-2.58H15.4V7.76H14.31a1,1,0,0,0-1,1v.74H15.4ZM24,12A12,12,0,1,0,12,24,12,12,0,0,0,24,12" /></svg>');
}
%social-print {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:white" d="M15.4,11.67H13.34v6.76H10.46V11.67H8.6V9.47h1.86V8.15a2.58,2.58,0,0,1,2.59-2.58H15.4V7.76H14.31a1,1,0,0,0-1,1v.74H15.4ZM24,12A12,12,0,1,0,12,24,12,12,0,0,0,24,12" /></svg>');
}
%social-facebook {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:white" d="M15.4,11.67H13.34v6.76H10.46V11.67H8.6V9.47h1.86V8.15a2.58,2.58,0,0,1,2.59-2.58H15.4V7.76H14.31a1,1,0,0,0-1,1v.74H15.4ZM24,12A12,12,0,1,0,12,24,12,12,0,0,0,24,12" /></svg>');
}
%social-twitter {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:white" d="M18.67,7.84s.19.1,1.59-.4A4.41,4.41,0,0,1,18.79,9a3.14,3.14,0,0,1,0,.32A8.63,8.63,0,0,1,10.09,18a8.56,8.56,0,0,1-4.45-1.38A6.35,6.35,0,0,0,10,15.38a3.09,3.09,0,0,1-2.78-2.16,1.72,1.72,0,0,0,1.25-.06,2.9,2.9,0,0,1-2.3-2.94,8.19,8.19,0,0,0,1.33.39A3.17,3.17,0,0,1,6.6,6.53S9.12,9.65,12.82,9.7A3.62,3.62,0,0,1,12.75,9a3,3,0,0,1,3-3,3,3,0,0,1,2.17.93,6.69,6.69,0,0,0,1.92-.71,2.61,2.61,0,0,1-1.19,1.61M24,12A12,12,0,1,0,12,24,12,12,0,0,0,24,12"/></svg>');
}
%social-youtube {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:white" d="M18.34,12,9.4,16.65V7.35ZM24,12A12,12,0,1,0,12,24,12,12,0,0,0,24,12"/></svg>');
}
%social-linkedin {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:white" d="M18.73,17.65v-4.68c0-2.51-1.34-3.68-3.13-3.68c-1.44,0-2.09,0.79-2.45,1.35V9.48h-2.72 c0.04,0.77,0,8.17,0,8.17h2.72v-4.56c0-0.24,0.02-0.49,0.09-0.66c0.2-0.49,0.64-0.99,1.39-0.99c0.98,0,1.38,0.75,1.38,1.85v4.37 L18.73,17.65L18.73,17.65z M7.58,8.37c0.95,0,1.54-0.63,1.54-1.41C9.1,6.16,8.53,5.55,7.6,5.55S6.07,6.15,6.07,6.96 c0,0.78,0.59,1.41,1.5,1.41H7.58z M12,24C5.37,24,0,18.63,0,12C0,5.37,5.37,0,12,0s12,5.37,12,12C24,18.63,18.63,24,12,24z M8.94,17.65V9.48H6.23v8.17H8.94z"/></svg>');
}

$Socials: email, print, facebook, twitter, youtube, linkedin;

i.social-ico {
  
  $social__size: 36px;
  
  display: inline-block;
  width: $social__size;
  height: $social__size;
  background: no-repeat center;
  background-size: $social__size;
  cursor: pointer;
  transition: $animations__lenght;
  padding:0;
  margin:$size__margin ($social__size * .5) $size__margin 0;
  opacity: 0.8;
  
  &:before,
  &:hover { opacity: 1;}
  
  &:before { position:absolute;}
  
  @each $Social in $Socials {
    &.#{$Social} {
      @extend %social-#{$Social};
    }
  }
}

#share-buttons i {
  filter: invert(.2);
}



%arrow-right {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve"> <polyline fill="none" stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" points=" 5,5 45,40 5,75 "> </polyline></svg>');
}

%arrow-left {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve"> <polyline fill="none" stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" points=" 45,75 5,40 45,5 "> </polyline></svg>');
}

.arrow {

  $arrowSize: 60px;

  background-color: transparentize($color__primary, 0.2);
  border-radius: 50%;
  width: $arrowSize;
  height: $arrowSize;
  padding: 0;
  min-width: inherit;
  background-size: $arrowSize * .25;
  background-repeat: no-repeat;
  background-position: center;
  border:0;
  
  @media #{$smaller-than-tablet} {
    $arrowSize: 24px;
    padding: $arrowSize * 0.25;
    width: $arrowSize;
    height: $arrowSize;
    background-size: $arrowSize * .25;
  }
  
  &-next {
    @extend %arrow-right;
    margin-right: 16px;
  }
  
  &-prev {
    @extend %arrow-left;
    margin-left: 16px;
  }
}


//reset slick arrow
.slick-prev:before, .slick-next:before {
  display: none !important;
}
.fancybox-navigation svg {
  display: none;
}

.fancybox-navigation .fancybox-button--arrow_right,
.slider button.slick-next {
  @extend .arrow;
  @extend .arrow-next
}

.fancybox-navigation .fancybox-button--arrow_left,
.slider button.slick-prev {
  @extend .arrow;
  @extend .arrow-prev
}


.fancybox-navigation .fancybox-button--arrow_left:disabled,
.fancybox-navigation .fancybox-button--arrow_right:disabled {
  opacity: .5;
}
  
