

@media #{$mq__print} {
  
  @page { margin: 1.8cm 1.4cm 2.7cm;}
  
  body,#main,#content {
    background: #fff;
    color: #000
  }
  
  #masthead {
    display: none;
  }
  
  a,a:link,a:visited {
    color: #000;
    text-decoration: none
  }
  
  #globalheader,#globalfooter,#directorynav,#tabs,.noprint,.hide {
    display: none
  }
  
  .site-footer .footer-widgets {
    > * {
      display: none;
    }
    & > :first-of-type {
      display: block;
    }
  }
  
  .interactive {
    * {
      transition-duration: 0ms !important;
      transition-delay: 0ms !important;
    }
  
    &.parallax img {
      height: 100% !important;
      margin: 0 !important;
    }
  }
}