// COLOR VARIABLES
$color__primary: #17BEBB;
$color__secondary: #7452b1;
$color__black: #44474e;
$color__dark-grey: lighten($color__black, 10%);
$color__light-grey: #e3e3e3;
$color__white: #fff;

$color__text: $color__dark-grey;
$color__nav-background: transparentize($color__dark-grey, .05);
$color__background: darken($color__white, 1%);

// TODO: Better color management with wordpress
// TODO: update color functions to css4 color-mod() when fully supported
:root {
  --color-primary: #{$color__primary};
  --color-secondary: #{$color__secondary};
  --color-black: #{$color__black};
  --color-dark-grey: #{$color__dark-grey};
  --color-light-grey: #{$color__light-grey};
  --color-white: #{$color__white};
  --color-text: #{$color__text};
  --color-text-light: #{lighten($color__text, 15%)};
  --color-accent: var(--color-secondary);
}

// TEXT VARIABLES
$text__line-height: 1.7;
$text__line-height-headline: 1.2;
$text__size: 17px;
$font__family: 'Montserrat', serif;
$font__family-headline: 'Montserrat', serif;

// ANIMATIONS
$animations__lenght : .35s;

// MEASURES
$size__site-width: 1400px;
$size__side-padding: 300px;

// DISTANCES
$size__margin: 8px;
$size__padding: 64px;
$size__padding-resp: 24px;

// HEADER
$head__direction: row; // row or column
$size__branding-height: 68px;
$nav__height: 48px;
$size__branding-logo-ratio: $size__branding-height *.5;

// HEADER RESP
$head__height-responsive: 48px;

// HAMBURGER MENU
$hamburger__size: 36px;
$hamburger__weight: 3px;
$hamburger__color: var(--color-primary);

// SCROLLBAR
$scrollbar-line-color: var(--color-primary);
$scrollbar-background-color: $color__light-grey;

// EXTRAS
$blockquote__icon-size: 60px;

// My customization
$head__direction: column;