// COLOR VARIABLES
$color__icons: #222222;

// ANIMATIONS
$animations__lenght : .35s;

// SIZES
$base_unit: 8px;
$size__margin: $base_unit;
$size__padding: $base_unit * 8;

$size__padding-resp: $base_unit * 2.5;



// HEADER
$size__site-width: 1500px;
$size__side-padding: 300px;
$size__nav-line-height: 2.2;
$size__nav-responsive-line-height: 2.5;
$size__responsive-menu-max-width: 360px;

// HEADER RESP
$head__responsive_breakpoint-width: 960px;

// HAMBURGER MENU
$hamburger__size: 30px;
$hamburger__weight: 3px;

// SCROLLBAR
$scrollbar-border-radius: 2px;

// AVATAR
$avatar_size: 64px;