/* Blocks styles */
.wp-site-blocks {

	//! MediaAndText
	.wp-block-media-text {
		.wp-block-media-text__media {
			justify-self: end;

			img,
			video {
				width: auto;
				max-width: 100%;
			}
		}

		&.has-media-on-the-right {
			.wp-block-media-text__media {
				justify-self: start;
			}
		}

		@media #{$mq__tablet-portrait} {
			.wp-block-media-text {


			}

			.wp-block-media-text__media {
				width: auto;
				margin: auto;
				padding-left: var(--wp--preset--spacing--50);
				padding-right: var(--wp--preset--spacing--50);
			}
		}
	}

  //! Image
  .wp-block-image {

    .aligncenter {
      @media #{$mq__desktop} {
        margin: 0 auto;
        img {
          margin: 0 auto;
        }
      }
    }

    &.alignfull img {
      width: 100%;

      @media #{$mq__smaller-than-tablet} {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .alignleft {
      margin-right: var(--wp--preset--spacing--60);
      @media #{$mq__smaller-than-tablet} {
        margin-right: var(--wp--preset--spacing--50);
      }
    }

    .alignright {
      margin-left: var(--wp--preset--spacing--60);
      @media #{$mq__smaller-than-tablet} {
        margin-left: var(--wp--preset--spacing--50);
      }
    }

    .alignleft,
    .alignright {
      @media #{$mq__smaller-than-tablet} {
        width: 100%;
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  //! Separator
  .wp-block-separator,
  hr {
    &.is-style-wide {
	  text-align: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  //! File
  .wp-block-file {
    font-family: var(--typography--font--title);

    .wp-block-file__button {
      display: table;
      border: none;
      border-radius: 5px;
      background: var(--wp--preset--color--primary);
      font-size: var(--wp--preset--font-size--medium);
      text-decoration: none;
      font-weight: var(--typography--font--default--bold);
      color: var(--wp--preset--color--white);
      margin-left: 0;
      margin-top: var(--wp--preset--spacing--40);

      &:hover {
        filter: brightness(120%);
        cursor: pointer;
      }

      &:focus {
        filter: brightness(120%);
        outline: thin dotted;
        outline-offset: -4px;
      }
    }
  }

  //! Columns
  .wp-block-columns {

    @media #{$mq__phablet} {
      flex-wrap: nowrap;
    }

    @media #{$mq__smaller-than-tablet} {
      .wp-block-column > * {

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &[class*='has-'] > * {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  //! Latest Comments
  .wp-block-latest-comments {

    .wp-block-latest-comments__comment-meta {
      font-family: var(--typography--font--title);
      font-weight: var(--typography--font--default--bold);

      .wp-block-latest-comments__comment-date {
        font-weight: var(--typography--default--font-weight--regular);
      }
    }

    .wp-block-latest-comments__comment,
    .wp-block-latest-comments__comment-date,
    .wp-block-latest-comments__comment-excerpt p {
      font-size: inherit;
    }

    &.has-dates {

      .wp-block-latest-comments__comment-date {
        font-size: var(--wp--preset--font-size--extra-small);
      }
    }
  }
}


