.entry-comments {
  clear: both;
  background-color: var(--color--white-smoke);
  margin-top: var(--wp--preset--spacing--60);
  padding-top: var(--wp--preset--spacing--60);
  padding-bottom: var(--wp--preset--spacing--40);
  border-radius: 3px;

  @media #{$mq__responsive_breakpoint} {
    width: auto;
    margin-top: var(--wp--preset--spacing--50);
    margin-left: calc(var(--wp--custom--responsive--side-margin) * .5);
    margin-right: calc(var(--wp--custom--responsive--side-margin) * .5);
  }

  > p {
    font-size: var(--wp--preset--font-size--large);
    margin-bottom: var(--wp--preset--spacing--70);
    font-weight: var(--typography--default--font-weight--light);
  }

  .navigation a {
    font-size: var(--wp--preset--font-size--small);
    font-weight: var(--typography--default--font-weight--regular);
    color: var(--color--gray-dark);
  }

  p.comment-notes {
    font-size: var(--wp--preset--font-size--small);
    font-style: italic;
    color: var(--color--gray-dark);
  }

  p.comments-closed,
  p.no-comments-yet {
    margin-top: var(--wp--preset--spacing--50);
    text-align: center;
    font-style: italic;
  }

  p.logged-in-as {
    font-weight: var(--typography--font--default--bold);
    float: right;
    font-size: var(--wp--preset--font-size--small);
    line-height: 1;
    margin: 0;
  }

}

// commentlist variables
.site-main ol.commentlist {
	$avatar_size: 64px;
	$comments__avatar-size: 64px;

  padding-left: 0;
  padding-right: 0;

  ul,
  ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: var(--wp--preset--spacing--50);
    list-style: none;
  }

  li {
    margin: 0;
    display: block;
    padding: var(--wp--preset--spacing--40) 0 var(--wp--preset--spacing--50) 0;

    li {
      padding-left: var(--wp--preset--spacing--60);
    }
  }

  a {
    color: var(--color--text);
  }

  .avatar {
    line-height: 1;
    float: left;
    width: $comments__avatar-size;
    height: $comments__avatar-size;
    margin-right: $comments__avatar-size * .25;
    border-radius: 50%;
    overflow: hidden;
  }

  .fn,
  .comment-author {
    height: $comments__avatar-size * .6;
    line-height: $comments__avatar-size * .66;
    a,
    b {
      color: var(--color--primary);
      font-size: var(--wp--preset--font-size--extra-large);

      @media #{$mq__responsive_breakpoint} {
        font-size: var(--wp--preset--font-size--large);
      }
    }
  }

  .comment-metadata {
    height: $comments__avatar-size * .4;
    line-height: 1;

    a {
      font-size: var(--wp--preset--font-size--extra-small);
      color: var(--color--gray);
    }

    .comment-edit-link {
      opacity: 0;
      transition: var(--wp--custom--animations--length);
      background-color: var(--color--primary);
      margin-left: var(--wp--preset--spacing--50);
      padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
      border-radius: var(--wp--preset--spacing--50);
      color: var(--color--white);
    }
  }

  article:hover .comment-metadata .comment-edit-link {
    opacity: 1;
  }

  .comment-content {
    background: var(--color--white);
    border: 1px solid var(--color--white-smoke);
    padding: var(--wp--preset--spacing--50);
    margin-left: $comments__avatar-size * 1.25;
    margin-top: var(--wp--preset--spacing--40);

    max-height: 800px;
    overflow-y: auto;

    * { max-width: 100%}
  }

  .reply {
    text-align: right;
  }


  a.comment-reply-link {
    color: var(--color--gray-dark);
    border: 1px solid var(--color--gray-light);
    clear: both;
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
    border-radius: var(--wp--preset--spacing--50);
    display: inline-block;
    line-height: var(--wp--custom--line-height--medium);
    margin-top: var(--wp--preset--spacing--30);
    transition: var(--wp--custom--animations--length);

    &:hover {
      background-color: var(--color--primary);
      color: var(--color--white);
    }
  }
}

#respond {
  position: relative;

  > small {
    display: block;
    font-size: var(--wp--preset--font-size--medium);
  }

  label {
    min-width: 100px;
    display: inline-block;
  }

  form {
    p {
      margin-bottom: var(--wp--preset--spacing--50);
    }
    a {
      font-weight: var(--typography--default--font-weight--regular);
    }

  }

  input[type="text"], input[type="email"], input[type="url"] {
    width: 50%;
  }

  .comment-form-cookies-consent {
    display: flex;
    margin: var(--wp--preset--spacing--50) 0;

    label {
      font-size: 14px;
      line-height: 1;
      margin-left: var(--wp--preset--spacing--40);
    }
  }

  .form-submit {
    margin-top: var(--wp--preset--spacing--60);
    text-align: right;
  }
}


