// Page Header
.site {
  .entry-header {}
}

// Page Title
.page-title,
.entry-title,
.has-title-color {
  &,
  a {
    color: var(--color--title);
  }
}

.entry-header,
.woocommerce-products-header {
  display: block;
  width: 100%;
  max-width: var(--sizes--content--width-wide);
  text-align: center;
  margin: 0 auto var(--wp--preset--spacing--50);

  @media #{$mq__responsive-size_breakpoint} {
    max-width: 100%;
    width: auto;
    padding-left: var(--wp--custom--responsive--side-margin);
    padding-right: var(--wp--custom--responsive--side-margin);
  }

  p {
    margin: 0 auto;
    width: var(--sizes--entry-title--width);
    line-height: var(--wp--custom--line-height--large);

    @media #{$mq__responsive-size_breakpoint} {
      width: auto;
    }

    &.breadcrumbs {
      width: 100%;
    }
  }
}
