header.wp-block-template-part {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;

  @media #{$mq__responsive_breakpoint} {
    height: var(--header--branding--height);
    transform: inherit !important;
    padding: 0;
  }
}
