@mixin material_icon($icon, $size, $color: "var(--wp--preset--color--black)") {
  &:before {
    font-family: "Material Icons";
    content: $icon;
    display: block;
    line-height: 1;
    font-size: #{$size}px;
    color: #{$color};
  }
}

$arrowSize: 60px;

.arrow {
  border-radius: 50%;
  margin: 0 auto;
  padding: $arrowSize * .25;
  min-width: inherit;
  border:0;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 0;
  transition: background-color var(--wp--custom--animations--length);

  &:hover {
    filter: inherit;
    background-color: rgba(var(--wp--preset--color--black--decimal), .05);
  }

  @media #{$mq__smaller-than-tablet} {
    $arrowSize: 24px;
    padding: $arrowSize * 0.125;
    font-size: $arrowSize;
  }

  &-prev {
    @include material-icon( '\e2ea', 36 );
    left: $arrowSize * .5;
  }

  &-next {
    @include material-icon( '\e5e1', 36 );
    right: $arrowSize * .5;
  }
}

//reset slick arrow
.fancybox-button svg {display: none;}

.fancybox-navigation .fancybox-button--arrow_right {
  @extend .arrow;
  div {
    @extend .arrow-next;
  }
}
.fancybox-navigation .fancybox-button--arrow_left {
  @extend .arrow;
  div {
    @extend .arrow-prev;
  }
}
.fancybox-navigation .fancybox-button--arrow_left,
.fancybox-navigation .fancybox-button--arrow_right {
  background-color: rgba( var(--wp--preset--color--white--decimal), 0 );
  &:hover {background-color: rgba( var(--wp--preset--color--white--decimal), .5 );}
  div:before {color: var(--wp--preset--color--white);}
  &:disabled {opacity: .5;}
}



.slider button.slick-next {
  @extend .arrow;
  @extend .arrow-next;
}
.slider button.slick-prev {
  @extend .arrow;
  @extend .arrow-prev;
}

.slider button.slick-prev {
  margin-left: $arrowSize * -1;
  @media #{$mq__smaller-than-tablet} {
    margin-left: $arrowSize * .5;
  }
}
.slider button.slick-next {
  margin-right: $arrowSize * -1;
  @media #{$mq__smaller-than-tablet} {
    margin-right: $arrowSize * .5;
  }
}


