.wp-site-blocks .search-form,
.woocommerce-product-search {

	display: flex;
	max-width: var(--sizes--sidebar--width);
	margin: 0 auto;
	border-radius: 4px;
	overflow: hidden;
	position: relative;

	input {
		height: 48px;
	}

	label {
		width: 100%;
	}

	[type="search"] {
		width: 100%;
		margin: 0;
		padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--50);
		font-size: var(--wp--preset--font-size--small);
		border: 1px solid var(--wp--preset--color--gray-light);
		outline: 0;
		box-shadow: inherit !important;
	}

	[type="submit"] {
		width: 80px;
		margin: 0;
		border-radius: 0;
		font-size: 0;
	}

	&::before {
		content: "\E8B6";
		font-family: "Material Icons";
		color: var(--wp--preset--color--white);
		font-size: 28px;
		display: block;
		width: 24px;
		height: 48px;
		line-height: 48px;
		position: absolute;
		z-index: 2;
		right: 26px;
	}


	#primary & {
		margin: var(--wp--preset--spacing--70) auto;
	}
}
