aside.wp-block-template-part {
  .search-form {
    max-width: 100%;
  }

  section {
    padding-bottom: var(--wp--preset--spacing--60);
  }

  li {
    margin: 0 0 var(--wp--preset--spacing--30) 20px;
  }
}
