.sidebar {

  min-width: var(--sizes--sidebar--width);
  width: var(--sizes--sidebar--width);
  padding: 0 var(--wp--custom--responsive--side-margin);
  box-sizing: border-box;

  .search-form {
    max-width: 100%;
  }

  @media #{$mq__larger-than-tablet} {
    padding: 0;
    .sidebar-right & {padding-left: var(--sizes--sidebar--side-margin);}
    .sidebar-left & {padding-right: var(--sizes--sidebar--side-margin);}
  }

  @media #{$mq__responsive_breakpoint} {
    padding-top: var(--wp--preset--spacing--60);
    border-top: 1px solid rgba(var(--color--black), 0.05);
    min-width: inherit;
    width: 100%;
  }

  section {
    padding-bottom: var(--wp--preset--spacing--60);
  }

  h3 {
    margin: 0 0 var(--wp--preset--spacing--40);
    font-size: var(--wp--preset--font-size--large);
  }

  li {
    margin: 0 0 var(--wp--preset--spacing--30) 20px;
  }

  a {
		text-decoration: none;
    color: var(--color--text)
  }
}
