// Metas
.entry-footer {
  clear: both;
  & > div {
    padding-top: var(--wp--preset--spacing--70);
  }
}

.page-links {
  clear: both;
  padding-top: var(--wp--preset--spacing--70);
}

.post-meta {
  .meta-wrapper {
    display: inline-flex;
    margin-top: var(--wp--preset--spacing--40);

    p {
      width: auto;
      color: var(--color--gray-dark);
      font-size: var(--wp--preset--font-size--small);
      margin-bottom: 0;
      margin-left: var(--wp--preset--spacing--40);
      margin-right: var(--wp--preset--spacing--40);

      @media #{$mq__smaller-than-tablet} {
        font-size: var(--wp--preset--font-size--extra-small);
      }
    }

    a {
      color: var(--color--gray-dark);
      font-weight: var(--typography--default--font-weight--bold);
      text-transform: uppercase;
    }
  }
}

.breadcrumbs {
  font-size: var(--wp--preset--font-size--extra-small);
  margin-bottom: var(--wp--preset--spacing--40);
  font-weight: var(--typography--default--font-weight--bold);
  letter-spacing: 1.5px;
  color: var(--color--gray-dark);

  a {
    font-family: var(--typography--content--font-family), sans-serif;
    color: var(--color--gray-dark);
    font-weight: var(--typography--default--font-weight--bold);
    text-transform: uppercase;
    margin-left: var(--wp--preset--spacing--20);
    margin-right: var(--wp--preset--spacing--20);
    opacity: .5;

    &:last-of-type {
      opacity: .8;
    }

    &:hover {
      opacity: 1;
    }

  }
}


.relateds {
  $image-size: 150px;

  ul.relateds-list {
    margin: 0;
    padding: 0;

    li {
      display: block;
      padding: 0;
      margin: var(--wp--preset--spacing--30) 0 var(--wp--preset--spacing--60);
      clear: both;

      p {
        margin: 0;
      }

      img {
        float: left;
        clear: both;
        width: $image-size;
        margin-right: var(--wp--preset--spacing--60);
        margin-bottom: var(--wp--preset--spacing--50);
        max-height: $image-size;
        @media #{$mq__smaller-than-tablet} {
          width:  $image-size * .5;
          margin-right: var(--wp--preset--spacing--60);
          margin-bottom: var(--wp--preset--spacing--60);
        }
      }
    }
  }
}

// Post Navigation
.navigation {
  display: flex;
  flex-wrap: wrap;

  a {
    display: inline-table;
    vertical-align: baseline;
    width: auto;

    @media #{$mq__smaller-than-tablet} {
      width: 50%;
    }
  }

  > * {
    flex-basis: 50%;
    flex-shrink: 0;
  }

  .alignright {
    text-align: right;
  }

}

// the archive navigation
.nav-links {
  flex-basis: 100%;
  text-align: center;
  margin-top: var(--wp--preset--spacing--60);

  * {
    margin: 0 var(--wp--preset--spacing--40);
  }

  .page-numbers {
    $pagenumber__size: 36px;

    display: inline-block;
    padding: 0 ($pagenumber__size * .2);
    margin-bottom: $pagenumber__size * .3;
    width: $pagenumber__size;
    height: $pagenumber__size;
    vertical-align: middle;
    box-sizing: border-box;

    font-weight: var(--typography--default--font-weight--bold);
    line-height: $pagenumber__size;

    border-radius: $pagenumber__size * .5;
    background-color: var(--color--gray-light);
    color:  var(--color--gray);
    transition: $animations__lenght;

    &.current,
    &:hover {color: var(--color--gray-dark);}

    &.next,
    &.prev {
      width: auto;
      padding-left: $pagenumber__size;
      padding-right: $pagenumber__size;
    }

  }
}

.post-navigation {
  .navigation {
    margin-top: var(--wp--preset--spacing--50);
    & > div {
      height: 60px;
    }
    i {vertical-align: middle;}
  }
}

.category-list-labels {

  padding-top: var(--wp--preset--spacing--60);
  ul, li {
    display: inline-block;
  }

  li {
    background: var(--color--white);
    border-radius: 15px;
    border: 1px solid var(--color--gray-light);
    width: auto;
    height: 30px;
    line-height: 26px;
    position: relative;
    margin: 0 10px 10px 0;
    padding: 0 10px;
    box-sizing: border-box;

    a {
      font-size: var(--wp--preset--font-size--extra-small);
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--color--gray-dark);
      text-decoration: none !important;
      transition: 0.2s;
    }

    &:hover {
      a {
        filter: brightness(115%);
      }
    }
  }
}

// Extra
.sticky {
  background-color: transparent;
  h1, h2 { color: var(--color--secondary)}
}

body.page,
body.single,
body.archive {
  .hero:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 80px 80px -80px rgba(var(--color--black--decimal), .8);
  }
}
