@charset "UTF-8";

@import "utils/vars";
@import "utils/media-queries";

#customize-controls {
  #accordion-section-colors h3:before,
  #accordion-panel-modul_r_theme_options h3:before,
  #sub-accordion-panel-modul_r_theme_options h3:before {
    display: inline;
    font-family: dashicons;
    padding-right: 4px;
    font-size: 20px;
    line-height: 0;
    vertical-align: sub;
    color: #666;
    transition: 175ms;
    opacity: 0.99999;
  }
  
  /* Add icon to "Theme Options" tab */
  #accordion-section-colors h3:before {content: "\f100";}
  
  /* Add icon to "Theme Options" tab */
  #accordion-panel-modul_r_theme_options h3:before {content: "\f108";}
  
  /* Add icon to "Header" tab */
  #accordion-section-modul_r_settings_header h3:before {content: "\f317";}
  
  /* Add icon to "Footer" tab */
  #accordion-section-modul_r_settings_footer h3:before {content: "\f316";}
  
  /* Add icon to "Sidebar" tab */
  #accordion-section-modul_r_settings_sidebar h3:before {content: "\f504";}
  
  /* Add icon to "Homepage" tab */
  #accordion-section-modul_r_home_options h3:before {content: "\f337";}

}
