/* Main column width */
.wp-block {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

@import "utils/vars";
@import "utils/media-queries";

@import "main/base";
@import "main/colors";
@import "main/helpers";
@import "main/typography";
@import "main/typography-extras";
@import "components/extras";
@import "components/blocks";

.wp-block.editor-post-title__block .editor-post-title__input{
  @extend %headline_style;
}