/* Card */
.is-style-card {
	background-color: var(--wp--preset--color--background);
	border: 1px solid var(--wp--preset--color--gray-light);
	border-radius: 1rem;
	box-shadow: 0 8px 20px -6px #0000000d;
}
