@use "../defaults/media-queries" as *;

body .wp-site-blocks {
	--element--gallery--mosaic-grid-size: 250px;
	--element--gallery--mosaic-grid-gap: 10px;

	//! Swiper
	.swiper {
		.swiper-button-next, .swiper-button-prev {
			align-items: center;
			color: var(--wp--preset--color--primary, var(--swiper-theme-color));
		}
	}

	.is-style-slider-gallery {
		.swiper-slide img {
			width: 100%;
			height: 100%;
		}
	}
}
