body .wp-site-blocks {
	--element--gallery--mosaic-grid-size: 250px;
	--element--gallery--mosaic-grid-gap: 10px;
	//! Gallery
	.wp-block-gallery.has-nested-images {
		// Masonry like layout for galleries
		&.is-style-masonry-gallery {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(var(--element--gallery--mosaic-grid-size), 1fr));
			grid-gap: var(--element--gallery--mosaic-grid-gap);
			grid-auto-rows: minmax(var(--element--gallery--mosaic-grid-size), auto);
			grid-auto-flow: dense;
			padding: var(--element--gallery--mosaic-grid-gap);

			@media #{$mq__smaller-than-tablet} {
				grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
				grid-auto-rows: minmax(25vw, auto);
			}

			> figure.wp-block-image:not(#individual-image) {
				margin: 0;
				display: grid;
				grid-template-rows: 1fr auto;
				width: 100%;

				> * {
					grid-row: 1 / -1;
					grid-column: 1;
				}

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&:first-child,
				&:nth-of-type(5n) {
					grid-column-end: span 2;
					grid-row-end: span 2;
				}
			}
		}
	}
}

/* Items shifted */
.wp-block-group.is-style-items-overlap {
	margin-top: -120px;
	margin-bottom: 60px;
	z-index: 2;
	position: relative;
}

/* clip container transversal with svg */
.wp-block-cover,
.wp-block-media-text {
	--element--blocks--clip-slope: 5vh;

	&.is-style-traversal-clip {
		clip-path: polygon(0 var(--element--blocks--clip-slope), 100% 0, 100% calc(100% - var(--element--blocks--clip-slope)), 0 100%);
		margin-bottom: calc(-1 * var(--element--blocks--clip-slope));
		position: relative;
		z-index: 2;
	}

}

/* clip container with a wave shaped svg */
.wp-block-cover,
.wp-block-post-featured-image {

	&.is-style-wave-clip {
		mask-size: cover;
		mask-position: center bottom;
	}
}

/* fixed headline style */
header.wp-block-template-part {

	.headline-fixed {
		position: absolute;
		width: 100%;
		transition: 350ms background-color, 175ms 1050ms color;
	}
}

body.top .has-primary-background-color.headline-fixed {
	background-color: transparent !important;
}

/* Headline style */
.wp-block-group.page-headline p {
	padding-bottom: 0;

	&.headline-divider {
		visibility: hidden;

		&::before {
			visibility: visible;
			content: "🔹";
		}

		&:last-child::before {
			display: none;
		}
	}
}

/* Outlined text style */
.is-style-outlined-text {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

/* Card */
.is-style-card {
	border: 1px solid var(--wp--preset--color--gray-light);
	border-radius: 3px;
	box-shadow: 0 1rem 2rem -2rem;
}
