.entry-comments {
  clear: both;
  background-color: var(--color--white-smoke);
  margin-top: var(--sizes--margin-l);
  padding-top: var(--sizes--margin-l);
  padding-bottom: var(--sizes--margin--);
  border-radius: 3px;

  @media #{$mq__responsive_breakpoint} {
    width: auto;
    margin-top: var(--sizes--margin-m);
    margin-left: calc(var(--sizes--responsive--side-margin) * .5);
    margin-right: calc(var(--sizes--responsive--side-margin) * .5);
  }

  > p {
    font-size: var(--typography--default--font-size--l);
    margin-bottom: var(--sizes--margin-xl);
    font-weight: var(--typography--default--font-weight--light);
  }

  .navigation a {
    font-size: var(--typography--default--font-size--s);
    font-weight: var(--typography--default--font-weight--regular);
    color: var(--color--gray-dark);
  }

  p.comment-notes {
    font-size: var(--typography--default--font-size--s);
    font-style: italic;
    color: var(--color--gray-dark);
  }

  p.comments-closed,
  p.no-comments-yet {
    margin-top: var(--sizes--margin-m);
    text-align: center;
    font-style: italic;
  }

  p.logged-in-as {
    font-weight: var(--typography--default--font-weight--bold);
    float: right;
    font-size: var(--typography--default--font-size--s);
    line-height: 1;
    margin: 0;
  }

}

// commentlist variables
.site-main ol.commentlist {
  padding-left: 0;
  padding-right: 0;

  ul,
  ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: var(--sizes--margin-m);
    list-style: none;
  }

  li {
    margin: 0;
    display: block;
    padding: var(--sizes--margin--) 0 var(--sizes--margin-m) 0;

    li {
      padding-left: var(--sizes--margin-l);
    }
  }

  a {
    color: var(--color--text);
  }

  .avatar {
    line-height: 1;
    float: left;
    width: $comments__avatar-size;
    height: $comments__avatar-size;
    margin-right: $comments__avatar-size * .25;
    border-radius: 50%;
    overflow: hidden;
  }

  .fn,
  .comment-author {
    height: $comments__avatar-size * .6;
    line-height: $comments__avatar-size * .66;
    a,
    b {
      color: var(--color--primary);
      font-size: var(--typography--default--font-size--xl);

      @media #{$mq__responsive-size_breakpoint} {
        font-size: var(--typography--default--font-size--l);
      }
    }
  }

  .comment-metadata {
    height: $comments__avatar-size * .4;
    line-height: 1;

    a {
      font-size: var(--typography--default--font-size--xs);
      color: var(--color--gray);
    }

    .comment-edit-link {
      opacity: 0;
      transition: $animations__lenght;
      background-color: var(--color--primary);
      margin-left: var(--sizes--margin-m);
      padding: var(--sizes--margin-xs) var(--sizes--margin-s);
      border-radius: var(--sizes--margin-m);
      color: var(--color--white);
    }
  }

  article:hover .comment-metadata .comment-edit-link {
    opacity: 1;
  }

  .comment-content {
    background: var(--color--white);
    border: 1px solid var(--color--white-smoke);
    padding: var(--sizes--margin-m);
    margin-left: $comments__avatar-size * 1.25;
    margin-top: var(--sizes--margin--);

    max-height: 800px;
    overflow-y: auto;

    * { max-width: 100%}
  }

  .reply {
    text-align: right;
  }


  a.comment-reply-link {
    color: var(--color--gray-dark);
    border: 1px solid var(--color--gray-light);
    clear: both;
    padding: var(--sizes--margin-xs) var(--sizes--margin-s);
    border-radius: var(--sizes--margin-m);
    display: inline-block;
    line-height: var(--typography--default--line-height);
    margin-top: var(--sizes--margin-s);
    transition: $animations__lenght;

    &:hover {
      background-color: var(--color--primary);
      color: var(--color--white);
    }
  }
}

#respond {
  position: relative;

  > small {
    display: block;
    font-size: var(--typography--default--font-size--m);
  }

  label {
    min-width: 100px;
    display: inline-block;
  }

  form {
    p {
      margin-bottom: var(--sizes--margin-m);
    }
    a {
      font-weight: var(--typography--default--font-weight--regular);
    }

  }

  input[type="text"], input[type="email"], input[type="url"] {
    width: 50%;
  }

  .comment-form-cookies-consent {
    display: flex;
    margin: var(--sizes--margin-m) 0;

    label {
      font-size: 14px;
      line-height: 1;
      margin-left: var(--sizes--margin--);
    }
  }

  .form-submit {
    margin-top: var(--sizes--margin-l);
    text-align: right;
  }
}


