// The animated header button
.menu-resp {

  button.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 0;
    width: $hamburger__size;
    min-width: inherit;
    height: $hamburger__size;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background 0.3s;
    background-color: transparent;

    i {

      &,
      &::after,
      &::before {
        background-color: var(--wp--custom--hamburger--color);
        display: block;
        position: absolute;
        height: $hamburger__weight;
        left: 0;
        width: 100%;
      }

      & {
        top: $hamburger__size * .5;
        transition: background 0.15s 0.1s;
        transition-delay: 0.1s, 0s;
      }

      &::before {
        top: $hamburger__size * .3;
        transition-property: top, transform;
      }

      &::after {
        bottom: $hamburger__size * .3;
        transition-property: bottom, transform;
      }

      &::after,
      &::before {
        content: "";
        transition-duration: .3s,.3s; transition-delay: 0.3s, 0s;
      }
    }

    .active & {
      i {
        background: 0 0;
        transition-delay: 0.2s, 0.0s;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }

        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }

        &::after,
        &::before {
          transition-delay: 0s, 0.3s;
        }
      }

    }
  }
}
