html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: $color__background;
  max-width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}