html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--wp--preset--color--white-smoke);
  /* ios viewport bug fix */
  height: calc( var(--vh, 1vh) * 100 );
  max-width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: -webkit-fill-available;
  min-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

#page {
  overflow-x: hidden;
}