%button {
  justify-content: center;
  position: relative;
  display: inline-flex;
  transition: $animations__lenght * .75;
  cursor: pointer;

  margin: 0;
  padding: ($button__height  * .3) ($button__height  * .6);

  border-style: none;
  outline: none;

  font-weight: var(--typography--default--font-weight--bold);
  letter-spacing: 2px;
  text-decoration: none !important;
  text-transform: uppercase;
  white-space: normal;
  overflow-wrap: break-word;

  @media #{$mq__smaller-than-tablet} {
    font-size: calc(var(--typography--default--font-size--m) - 2);
    padding: ($button__height  * .3) ($button__height  * .4);
  }

  &:hover {
    border-color: var(--wp--preset--color--secondary-light);
  }

  &:focus {
    background-color: var(--wp--preset--color--secondary-light);
  }

  &:disabled {
    filter: saturate(0);
  }
}

.wp-block-button {

  .wp-block-button__link {
    @extend %button;

    border-width: 2px;
    color: var(--wp--preset--color--white);
    background-color: var(--wp--preset--color--secondary);
    border-color: var(--wp--preset--color--secondary);

    a.wp-block-button__link {
      padding: ($button__height  * .3) ($button__height  * .6);
    }
  }

  // Squared
  .is-style-squared .wp-block-button__link {
    border-radius: 0;
  }

  // Target the default and filled button states.
  &:not(.is-style-outline) {

    .wp-block-button__link {

      border-style: none;

      &:active {
        border-color: var(--wp--preset--color--secondary-light);
        color: var(--wp--preset--color--white) !important;
      }

      &:hover {
        border-color: var(--wp--preset--color--secondary-light);
        color: var(--wp--preset--color--white) !important;
      }

      &:focus {
        color: var(--wp--preset--color--white) !important;
        background-color: var(--wp--preset--color--secondary-light);
      }
    }
  }

  // Outline Style.
  &.is-style-outline {

    .wp-block-button__link {

      border-width: 2px;

      &:not(.has-background) {
        background: transparent;
      }

      &:not(.has-background):not(.has-text-color) {
        background: transparent;
        color: var(--wp--preset--color--secondary);
      }

      &.has-background:not(.has-text-color) {
        color: currentColor;
        border-color: currentColor;
      }

      &.has-background.has-gray-background-color:not(.has-text-color),
      &.has-background.has-dark-gray-background-color:not(.has-text-color),
      &.has-background.has-black-background-color:not(.has-text-color) {
        color: var(--wp--preset--color--white);
      }

      .is-dark-theme & {

        &:not(.has-text-color) {

          &.has-background {
            color: var(--wp--preset--color--white);
          }

          &.has-background.has-gray-background-color,
          &.has-background.has-dark-gray-background-color,
          &.has-background.has-black-background-color {
            color: var(--wp--preset--color--white);
          }
        }
      }

      &.has-text-color,
      &.has-background.has-text-color {
        border-color: currentColor;
      }

      &:active,
      &:hover {
        border-color: var(--wp--preset--color--secondary-light);

        &.has-text-color {
          border-color: var(--wp--preset--color--secondary-light);
        }
      }

      &:focus {
        border-color: var(--wp--preset--color--white) !important;
        background: transparent !important;
      }
    }
  }

}


input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button {
  @extend %button;

  color: var(--wp--preset--color--white);
  background-color: var(--wp--preset--color--secondary);

  &.outline {
    background-color: transparent !important;
  }

  .is-style-squared .wp-block-button__link {
    border-radius: 0;
  }
}

.wp-block-button,
button,
.button {
  input[type="submit"] + input[type="reset"],
  & + & {
    margin-left: var(--sizes--margin-s);
  }
}

p + .wp-block-buttons {
  margin-top: var(--sizes--margin-l);
}