$button__height: 36px;

%button {
  display: inline-flex;
  position: relative;
  
  transition: 150ms;
  cursor: pointer;
  
  min-width: 64px;
  margin: 0;
  padding: ($size__margin * 1.5) ($size__margin * 3);
  
  border: none;
  border-radius: 30px;
  outline: none;
  
  font-family: $font__family-headline;
  font-size: $text__size + 2;
  font-weight: 700;
  text-decoration: none !important;
  white-space: normal;
  overflow-wrap: break-word;
  
  &:not(.has-background) {
    background-color: var(--color-white);
    color: var(--color-accent);
  }
  
  &:not(.has-text-color) {
    background: var(--color-accent);
    color: var(--color-white);
  }
  
  &:hover {
    color: var(--color-white);
    filter: brightness(120%);
    cursor: pointer;
  }
  
  &:focus {
    color: var(--color-white);
    filter: brightness(120%);
    outline: thin dotted;
    outline-offset: -4px;
  }
  
  &.outline {
    background: transparent !important;
    border: 2px solid var(--color-white);
  }
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button {
  @extend %button;
  
  background: var(--color-accent);
  color: var(--color-white);
  
  & + & {
    margin-left: $size__margin * 1.5;
  }
}

.button {
  
  line-height: 1;
  
  & + & {
    margin-right: $size__margin;
  }
}
