/*
* BUTTON template
*/
%button {
  justify-content: center;

  position: relative;
  display: inline-flex;
  transition: $animations__lenght * .75;
  cursor: pointer;
  user-select: none;

  font-size: var(--typography--font-size--m);
  font-weight: var(--typography--text--bold);
  letter-spacing: 2px;
  line-height: 1;
  text-decoration: none !important;
  text-transform: uppercase;
  white-space: normal;
  overflow-wrap: break-word;
  border-radius: 1000px;

  margin: 0;
  border: 0;
  outline: none;
  padding: ($button__height  * .4) ($button__height  * .6);

  &:not(.has-background) {
    background-color: var(--wp--preset--color--secondary);
  }

  &:not(.has-text-color) {
    color: rgba( var(--wp--preset--color--white--decimal), .9);
  }


  &.has-white-background-color,
  &.has-gray-light-background-color {
    &:hover {
      color: var(--wp--preset--color--grey-dark);
    }
  }

  &:hover {
    box-shadow: 0 0 0 3px rgba( var(--wp--preset--color--white--decimal), .3) inset;
  }

  @media #{$mq__smaller-than-tablet} {
    font-size: calc(var(--typography--font-size--m) - 2);
    padding: ($button__height  * .3) ($button__height  * .4);
  }

  &:not(.has-background) {
    &:active,
    &:focus {
      background-color: var(--wp--preset--color--secondary-light);
    }
  }

  &:disabled {
    filter: saturate(0);
  }
}

/*
* BLOCK BUTTONS
*/
.wp-block-buttons {
  margin-top: var(--size--margin-l);
  margin-bottom: var(--size--margin-l);
}

.wp-block-button {

  .wp-block-button__link {
    @extend %button;
  }

  &.has-gray-background-color:not(.has-text-color),
  &.has-dark-gray-background-color:not(.has-text-color),
  &.has-black-background-color:not(.has-text-color) {
    color: var(--wp--preset--color--white);
  }

  // Squared
  .is-style-squared .wp-block-button__link {
    border-radius: 0;
  }

  // Target the default and filled button states.
  &:not(.is-style-outline) {

    .wp-block-button__link {

      &:active {
        box-shadow: 0 0 0 3px rgba( var(--wp--preset--color--white--decimal), .2) inset;
        &.has-white-background-color {
          color: var(--wp--preset--color--secondary);
          background-color: var(--wp--preset--color--white);
        }
      }

      &:hover {
        box-shadow: 0 0 0 3px rgba( var(--wp--preset--color--white--decimal), .5) inset;
      }
    }
  }

  // Outline Style.
  &.is-style-outline {

    .wp-block-button__link {
      box-shadow: 0 0 0 3px var(--wp--preset--color--secondary) inset;
      opacity: .9;
      border: 0;

      &:not(.has-background) {
        background: transparent;
        &:active {
          background: rgba( var(--wp--preset--color--black--decimal), .05);
        }
      }

      &:not(.has-text-color) {
        color: var(--wp--preset--color--secondary);
        &:active,
        &:hover {
          color: var(--wp--preset--color--secondary-light);
        }
      }

      &.has-text-color,
      &.has-background.has-text-color {
        box-shadow: 0 0 0 3px currentColor inset;
      }


      &:hover {
        opacity: 1;
        box-shadow: 0 0 0 3px currentColor inset;
        &.has-primary-color { color: var(--wp--preset--color--primary-light);}
        &.has-secondary-color { color: var(--wp--preset--color--secondary-light);}
      }
      &:active {
        box-shadow: 0 0 0 0 currentColor inset !important;
      }
    }
  }

}

/*
* HTML BUTTONS
*/
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button {
  @extend %button;
}

.wp-block-button,
button,
.button {
  input[type="submit"] + input[type="reset"],
  & + & {
    margin-left: var(--size--margin-s);
  }
}

p + .wp-block-button,
p + .wp-block-buttons {
  margin-top: var(--size--margin-l);
}