.has-primary-background-color,
.wp-block-pullquote.is-style-solid-color.has-primary-background-color {
  background-color: $color__primary;
}

.has-primary-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color p {
  color: $color__primary;
}


.has-secondary-background-color,
.wp-block-pullquote.is-style-solid-color.has-secondary-background-color {
  background-color: $color__secondary;
}

.has-secondary-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color p {
  color: $color__secondary;
}

//! Custom background colors
.has-primary-background-color,
.has-secondary-background-color,
.has-dark-gray-background-color {
  
  // Use white text against these backgrounds by default.
  color: $color__background;
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $color__background;
  }
}

.has-white-background-color,
.has-light-gray-background-color {
  color: $color__text;
  
  // Use dark gray text against this background by default.
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $color__text;
  }
}

.has-dark-gray-background-color,
.wp-block-pullquote.is-style-solid-color.has-dark-gray-background-color {
  background-color: $color__text;
}

.has-light-gray-background-color,
.wp-block-pullquote.is-style-solid-color.has-light-gray-background-color {
  background-color: $color__light-grey;
}

.has-white-background-color,
.wp-block-pullquote.is-style-solid-color.has-white-background-color {
  background-color: $color__white;
}

//! Custom foreground colors

.has-dark-gray-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color p {
  color: $color__text;
}

.has-light-gray-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color p {
  color: $color__light-grey;
}

.has-white-color,
.wp-block-pullquote.is-style-solid-color blockquote.has-white-color {
  color: $color__white;
}