//! Custom background colors
.has-primary-background-color,
.has-primary-light-background-color,
.has-primary-dark-background-color,
.has-secondary-background-color,
.has-secondary-light-background-color,
.has-secondary-dark-background-color,
.has-black-background-color,
.has-gray-dark-background-color,
.has-gray-dark-background-color {
  
  // Use white text against these backgrounds by default.
  color: $color__background;
}

.has-white-background-color,
.has-white-smoke-background-color,
.has-gray-light-background-color {
  color: $color__text;
}