// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none;
}

.unselectable::selection {
  background-color: transparent;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.display-table {
  display:table;
}

.elevation-01 {
  box-shadow: 0 2px 10px -6px rgba( var(--wp--preset--color--black--decimal), .8);
}
