img {
  height: auto;
  max-width: 100%;
  position: relative;
  object-fit: cover;
}

.image-border img {
  padding: var(--size--margin--);
  background: var(--wp--preset--color--gray-light);
  margin: var(--size--margin--);
  box-sizing: border-box;
}

p img {
  &.alignleft {
    padding-right: var(--size--margin-m);
  }
  
  &.alignright {
    padding-left: var(--size--margin-m);
  }
}

figure {
  margin-bottom: var(--size--margin-m);
  
  img {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  
  .gallery-caption,
  figcaption {
    overflow: hidden;
    line-height: 1.2;
  }
}


.site-main .entry-content{
  .wp-caption {
    margin-bottom: var(--size--margin-m);
    padding-left: var(--size--responsive--side-margin);
    padding-right: var(--size--responsive--side-margin);
    
    .wp-caption-text {
      color: var(--color--text);
      font-size: var(--typography--font-size--s);
      font-style: italic;
    }
    
    &.alignleft {
      padding-right: var(--size--margin-m);
    }
    
    &.alignright {
      padding-left: var(--size--margin-m);
    }
  }
}