%input_model {
  background-color: var(--wp--preset--color--white);
  outline:none!important;
  border: 1px solid var(--wp--preset--color--gray-light);
  font-size: var(--typography--default--font-size--m);
  font-weight: var(--typography--default--font-weight--regular);
  box-sizing: border-box;
  border-radius:4px 4px 0 0;
  padding: 12px 8px;
  transition:350ms;
  margin: 0 0 var(--sizes--margin--);
  line-height: var(--typography--default--line-height);

  &:focus,
  &:hover {
    background-color: rgba(var(--wp--preset--color--secondary--decimal), .025);
    box-shadow: 0 1px 0 var(--wp--preset--color--secondary);
  }
}

select,
textarea,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="password"],
input[type="tel"] {
  @extend %input_model;
  padding-left: var(--sizes--margin--);
  padding-right: var(--sizes--margin--);
  box-shadow: 0 0 0 var(--wp--preset--color--gray-light);
}


[type="checkbox"], [type="radio"] {
  margin: 0;
  display: inline;
  vertical-align: middle;
}

.input-label {
  font-size: var(--typography--default--font-size--xs);
}

form label {
  color: var(--wp--preset--color--gray-dark);
  font-size: calc(var(--typography--default--font-size--m) - 1px);

  input + span {
    opacity: .8;
  }

  input:not(button):not(input[type="submit"]) {
    width: 100%;
  }
}

textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 160px;
  overflow:hidden;
}

fieldset {
  margin: $size__margin 0;
}