table {
  width:100%;
  max-width:100%;
  
  tr {
    border-collapse:collapse;
    
    th,
    td {
      padding: $size__margin * 1.5;
    }
    th {
      background: $color__secondary;
      color: #fff;
    }
    td {
      border-bottom: 1px solid $color__light-grey;
    }
  }
}

.entry-content .wp-block-table {
}