table {
  width:100%;
  max-width:100%;
  
  tr {
    border-collapse:collapse;
    
    th,
    td {
      padding: var(--sizes--margin-s);
    }
    th {
      background: var(--wp--preset--color--secondary);
      color: #fff;
    }
    td {
      border-bottom: 1px solid var(--wp--preset--color--gray-light);
    }
  }
}

.entry-content .wp-block-table {
}