h1,
h2,
h3,
h4,
h5,
h6 {
	margin: ($size__margin * 2) 0 $size__margin;
	padding: 0;
	color: $color__black;
	line-height: $text__line-height-headline;
	
	a:hover {
		text-decoration: none;
		color: $color__link;
	}
}

h1, h2 {
	font-weight: 300;
}

h1 {
	font-size: 42px;
	@media #{$smaller-than-tablet} {font-size: 36px;}
}

h2 {
	color: $color__black;
	font-size: 36px;
	@media #{$smaller-than-tablet} {font-size: 28px;}
}


h3, h4 {
	font-weight: 400;
}

h3 {
	font-size: 28px;
	@media #{$smaller-than-tablet} {font-size: 22px;}
	@media #{$tablet-portrait} {font-size: 20px;}
}

h4 {
	font-size: 22px;
	@media #{$smaller-than-tablet} {font-size: 19px;}
}



h5 {
	color: var(--color-secondary);
}

h5, h6 {
	font-weight: 500;
	font-size: $text__size;
	font-weight: 500;
	@media #{$smaller-than-tablet} {font-size: $text__size - 2;}
}




li,
p {
	font-size: $text__size;
	color: $color__text;
	
	@media #{$smaller-than-tablet} {font-size: $text__size - 1;}
	@media #{$phablet} {font-size: $text__size - 2;}
}

p {
	margin: 0 0 $size__margin;
	line-height: $text__line-height;
}

b, strong, a {
	font-weight: 600;
}
ul, ol, dl {
	margin-top: $size__padding * .5;
	margin-bottom: $size__padding * .5;
	padding: 0;
	list-style-position: inside;
	
	li, dt {
		line-height: $text__line-height;
		padding-left: $size__margin;
		margin-bottom: $size__margin * 1.5;
		li, dt {
			margin-left: $size__margin * 4;
		}
	}
}