iframe {
	width: 100%;
	max-width: 100%;
}

::selection {
	background-color: rgba(var(--wp--preset--color--primary--decimal),.5);
	color: white;
}

pre {
	width: 100%;
	padding: var(--sizes--margin-l)  var(--sizes--margin-xl);
	background: var(--wp--preset--color--white);
	border: 1px solid var(--wp--preset--color--gray-light);
	white-space: pre-wrap;
  box-sizing: border-box;
}

code {
	font-weight: var(--typography--default--font-weight--regular);
	word-wrap: break-word;
}


//! Blockquote / Pullquote

cite {
	font-style: italic;
}

.site .entry-content blockquote {
	$blockquote__icon-size: 60px;

	color:var(--color--text);
	min-height: $blockquote__icon-size;

	padding: ($blockquote__icon-size * .5) $blockquote__icon-size * 1.5;
	position:relative;
	border: 1px solid var(--wp--preset--color--gray-light);

	&:before {
		font-family: 'Material Icons';
		content: "\E244";
		position: absolute;
		top: -4px;
		left: 16px;
		font-size: $blockquote__icon-size;
		color: var(--wp--preset--color--primary);
	}

	&.wp-block-quote {
		blockquote {
			border: 0;
		}

		&:not(.is-large),
		&:not(.is-style-large) {
			border-left: 2px solid var(--wp--preset--color--primary);
		}
	}

	p,
	cite {
		font-size: 1em;
		font-style: italic;
		font-family: var(--typography--title--font-family);
		line-height: var(--typography--default--line-height--wide);
		font-weight: var(--typography--default--font-weight--light);
		text-transform: none;
		em {
			font-style: normal;
		}
	}

	&.is-large,
	&.is-style-large {
		max-width: 100%;

		p {
			font-style: italic;
			padding-top: var(--sizes--margin-s);
			margin-bottom: var(--sizes--margin-s);
		}

	}

	&.wp-block-pullquote {

		@media #{$mq__theme-width} {
			padding: var(--sizes--margin--) var(--sizes--margin-m);
		}
	}

}

//! Pullquote
.site .entry-content .wp-block-pullquote {
	border-color: transparent;
	border-width: 2px;

	blockquote {
		margin: 0;
		border: 0;

		p:first-child {
			margin-top: 0;
		}
	}

	&.alignleft,
	&.alignright {
		width: 100%;
	}

	&.is-style-solid-color {
		padding-left: 0;
		padding-right: 0;

		blockquote {
			max-width: 100%;
			border: 0;

			&.has-text-color p,
			&.has-text-color a,
			&.has-primary-color,
			&.has-secondary-color,
			&.has-dark-gray-color,
			&.has-light-gray-color,
			&.has-white-color {
				color: inherit;
			}
		}
	}
}



@media #{$mq__content-width} {
	.site-main .entry-content {
		table,
		pre,
		blockquote {
			padding-left: var(--sizes--responsive--side-margin);
			padding-right: var(--sizes--responsive--side-margin);
		}
		
		table {
			width: calc(100% - var(--sizes--margin-m));
		}
	}
}

// Tags arrowed style
.post-tags {
	list-style: none;
	
	h3 {
		display: inline;
		vertical-align: middle;
	}
	
	ul {
		display: inline;
		margin: 0;
		padding-left: var(--sizes--margin-m);
	}
	
	li.post-tag {
		margin: 0 16px 10px 0;
		padding: 0 10px 0 25px;
	}
}

.post-tag {
	background: var(--wp--preset--color--secondary);
	border-radius: 3px 0 0 3px;
	display: inline-block;
	height: 22px;
	line-height: 18px;
	position: relative;
	
	a {
		font-size: 11px;
		font-weight: var(--typography--default--font-weight--bold);
		letter-spacing: 1px;
		text-transform: uppercase;
		color: var(--wp--preset--color--white);
		text-decoration: none !important;
	}
	
	&, &::before, &::after, a {
		transition: 0.2s;
	}
	
	&::before {
		background: #fff;
		border-radius: 10px;
		box-shadow: inset 0 1px rgba(var(--wp--preset--color--white--decimal), 0.25);
		content: '';
		height: 6px;
		left: 10px;
		position: absolute;
		width: 6px;
		top: 8px;
	}
	
	&::after {
		background: transparent;
		border-bottom: 11px solid transparent;
		border-left: 10px solid var(--wp--preset--color--secondary);
		border-top: 11px solid transparent;
		content: '';
		position: absolute;
		right: -10px;
		top: 0;
	}
	
	&:hover {
		background-color: var(--wp--preset--color--secondary);
		a {
			color: white;
		}
	}
	
	&:hover::after {
		border-left-color: var(--wp--preset--color--secondary);
	}
}

hr {
	clear: both;
}
