/* Headlines */

%headline_style {
	font-family: $font__family-headline;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %headline_style;
	margin: ($size__margin * 2) 0 $size__margin;
	padding: 0;
	line-height: $text__line-height-headline;
}

h1 {
	font-size: 56px;
	@media #{$mq__tablet} {font-size: 50px;}
	@media #{$mq__phablet} {font-size: 32px;}
}

h2 {
	font-size: 36px;
	@media #{$mq__tablet} {font-size: 28px;}
}

h3 {
	font-size: 28px;
	@media #{$mq__tablet} {font-size: 22px;}
	@media #{$mq__tablet-portrait} {font-size: 20px;}
}

h4 {
	font-size: 22px;
	@media #{$mq__tablet} {font-size: 19px;}
}

h5, h6 {
	font-weight: 500;
	font-size: $text__size;
	@media #{$mq__tablet} {font-size: $text__size - 2;}
}


/* Text and lists */
li,
p {
	font-family: $font__family;
	font-size: $text__size;
	
	@media #{$mq__tablet} {font-size: $text__size - 1;}
	@media #{$mq__phablet} {font-size: $text__size - 2;}
}

p {
	margin: 0 0 $size__margin;
	line-height: $text__line-height;
}


b, strong, a {
	font-weight: 600;
}

a {
	text-decoration: none;
}

ul, ol, dl {
	margin-top: $size__padding * .5;
	margin-bottom: $size__padding * .5;
	
	li, dt {
		line-height: $text__line-height;
		margin-bottom: $size__margin * 1.5;
	}
}