/* Theme Defaults */
@import "defaults/defaults";

#customize-controls {

	#accordion-section-colors h3::before,
	#accordion-panel-modul_r_theme_options h3::before,
	#sub-accordion-panel-modul_r_theme_options h3::before {
		display: inline;
		font-family: "Material Icons";
		padding-right: 4px;
		font-size: 20px;
		line-height: 0;
		vertical-align: sub;
		color: #000;
		transition: 175ms;
		opacity: 0.7;
	}

	/* Add icon to "Theme Options" tab */
	#accordion-section-colors h3::before {
		content: "\e40a";
	}

	/* Add icon to "Theme Options" tab */
	#accordion-panel-modul_r_theme_options h3::before {
		content: "\e8b8";
	}

	/* Add icon to "Header" tab */
	#accordion-section-modul_r_settings_header h3::before {
		content: "\e232";
	}

	/* Add icon to "Footer" tab */
	#accordion-section-modul_r_settings_footer h3::before {
		content: "\e229";
	}

	/* Add icon to "Sidebar" tab */
	#accordion-section-modul_r_settings_sidebar h3::before {
		content: "\e230";
	}

	/* Add icon to "Typography" tab */
	#accordion-section-modul_r_typography_options h3::before {
		content: "\e262";
	}

	/* Add icon to "Layout" tab */
	#accordion-section-modul_r_layout_options h3::before {
		content: "\e25e";
	}

	/* Add icon to "Homepage" tab */
	#accordion-section-modul_r_home_options h3::before {
		content: "\e88a";
	}

	/* Add icon to "woo" tab */
	#accordion-section-modul_r_settings_Woo h3::before {
		content: "\e8cb";
	}

	/* Add icon to "Social Share" tab */
	#accordion-section-modul_r_settings_social_share h3::before {
		content: "\e80d";
	}

}
