/* Main column width */
.wp-block {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

@import "utils/normalize";
@import "utils/vars";
@import "utils/media-queries";

@import "main/base";
@import "main/colors";

@import "main/fonts";

@import "main/typography";
@import "main/typography-extras";

@import "woo/woo-base";

.wp-block.editor-post-title__block .editor-post-title__input{
  @extend %headline_style;
}

.editor-styles-wrapper {
  li, p {@extend li, p;}
}
