<!-- wp:template-part {"slug":"header","theme":"modul-r","tagName":"header","className":"is-style-sticky"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:site-logo /-->

	<!-- wp:heading {"style":{"typography":{"fontSize":"10rem"}}} -->
	<h2 style="font-size:10rem">404</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Page not found!</p>
	<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"modul-r","tagName":"footer"} /-->
