<!-- wp:template-part {"slug":"header","tagName":"header","className":"is-style-sticky"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|50"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--50)">

	<!-- wp:pattern {"slug":"modul-r/breadcrumbs"} /-->

	<!-- wp:heading {"level":1,"style":{"typography":{"fontSize":"10rem","fontStyle":"normal","fontWeight":"800"}},"className":"is-style-gradient"} -->
	<h1 class="wp-block-heading is-style-gradient" style="font-size:10rem;font-style:normal;font-weight:800">404</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Page not found!</p>
	<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
