<!-- wp:template-part {"slug":"header","theme":"modul-r","tagName":"header","className":"is-style-sticky"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|50"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--50)">

	<!-- wp:pattern {"slug":"modul-r/breadcrumbs"} /-->
	<!-- wp:heading {"style":{"typography":{"fontSize":"10rem","fontStyle":"normal","fontWeight":"700"}},"className":"hero-title is-style-gradient","fontSize":"xxx-large"} -->
	<h2 style="font-size:10rem">404</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Page not found!</p>
	<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"modul-r","tagName":"footer"} /-->
