<!-- wp:template-part {"slug":"header","tagName":"header","className":"is-style-sticky"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|50"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--50)">

		<!-- wp:pattern {"slug":"modul-r/breadcrumbs"} /-->

		<!-- wp:query-title {"type":"archive","showPrefix":false,"level":1,"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"className":"hero-title is-style-gradient","fontSize":"xxx-large"} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"modul-r/grid"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
