<!-- wp:template-part {"slug":"header","theme":"modul-r","tagName":"header","className":"is-style-sticky"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"var:preset|spacing|70"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"sidebar","theme":"modul-r","tagName":"Sidebar"} /-->

	<!-- wp:woocommerce/legacy-template {"template":"archive-product"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"modul-r","tagName":"footer"} /-->
