<!-- wp:template-part {"slug":"header","theme":"modul-r","tagName":"header","className":"is-style-fixed"} /-->

<!-- wp:pattern {"slug":"modul-r/homepage-hero-animated"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->

	<div class="wp-block-group alignwide">
		<!-- wp:heading {"textAlign":"center","level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} -->
		<h1 class="alignwide has-text-align-center" style="margin-bottom:var(--wp--preset--spacing--60)"><strong>Simple
			and Modul-R.</strong><br>This is w<strong>hy I will be your next WordPress theme</strong></h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Modul R is a&nbsp;<strong>powerful&nbsp;</strong>and&nbsp;<strong>flexible&nbsp;</strong>template that
			provides a fast and easy solution for building an awesome website.</p>
		<!-- /wp:paragraph -->

		<!-- wp:paragraph -->
		<p>Modul-R has a ton of&nbsp;<strong>personalization options</strong>! With the&nbsp;<strong>customizer’s live
			preview</strong>&nbsp;and&nbsp;<strong>CSS Custom Properties</strong>&nbsp;you can edit almost everything:
			font family, text size, colours palette, header direction, logo and hero image size and much more!</p>
		<!-- /wp:paragraph --></div>
	<!-- /wp:group -->

	<!-- wp:cover {"overlayColor":"white-smoke","minHeight":25,"minHeightUnit":"vh","isDark":false,"className":"is-style-traversal-clip"} -->
	<div class="wp-block-cover is-light is-style-traversal-clip" style="min-height:25vh"><span aria-hidden="true" class="wp-block-cover__background has-white-smoke-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
		<p class="has-text-align-center has-large-font-size"></p>
		<!-- /wp:paragraph --></div></div>
	<!-- /wp:cover -->

	<!-- wp:group {"align":"wide","layout":{"type":"constrained"},"className":"is-style-items-overlap"} -->
	<div class="wp-block-group alignwide is-style-items-overlap">
		<!-- wp:pattern {"slug":"modul-r/cards-with-covers"} /-->
	</div><!-- /wp:group -->

	<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
	<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"/>
	<!-- /wp:separator -->

	<!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"layout":{"type":"constrained"}} -->
	<div class="wp-block-query"><!-- wp:post-template -->
		<!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"max(15vw, 30vh)","align":"wide"} /-->

		<!-- wp:post-title {"isLink":true} /-->

		<!-- wp:post-excerpt /-->

		<!-- wp:post-date {"isLink":true} /-->

		<!-- wp:spacer {"height":"56px"} -->
		<div style="height:56px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
		<!-- /wp:post-template -->

		<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
		<!-- wp:query-pagination-previous {"label":"Newer Posts"} /-->

		<!-- wp:query-pagination-next {"label":"Older Posts"} /-->
		<!-- /wp:query-pagination --></div>
	<!-- /wp:query -->

	<!-- wp:spacer {"height":"56px"} -->
	<div style="height:56px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
