<!-- wp:template-part {"slug":"header","theme":"modul-r","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
	<div class="wp-block-group"><!-- wp:paragraph -->
		<!-- wp:pattern {"slug":"modul-r/footer-credits"} /-->
		<!-- /wp:paragraph -->

		<!-- wp:post-title /-->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
		<div class="wp-block-group"><!-- wp:post-author {"textAlign":"center","showAvatar":false} /-->

			<!-- wp:post-date /-->

			<!-- wp:post-terms {"term":"post_tag"} /--></div>
		<!-- /wp:group --></div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"modul-r","tagName":"footer"} /-->
