<!-- wp:template-part {"slug":"checkout-header","tagName":"header","className":"is-style-fixed"} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:woocommerce/breadcrumbs /-->

	<!-- wp:woocommerce/store-notices /-->

	<!-- wp:pattern {"slug":"modul-r/product-head"} /-->

	<!-- wp:woocommerce/product-details {"className":"is-style-minimal"} -->
	<div class="wp-block-woocommerce-product-details alignwide is-style-minimal"></div>
	<!-- /wp:woocommerce/product-details -->

	<!-- /wp:woocommerce/related-products -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
