<!-- wp:template-part {"slug":"checkout-header","tagName":"header","className":"is-style-sticky"} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:woocommerce/breadcrumbs /-->

	<!-- wp:woocommerce/store-notices /-->

	<!-- wp:pattern {"slug":"modul-r/product-headline"} /-->

	<!-- wp:woocommerce/product-details {"className":"is-style-minimal"} /-->

	<!-- wp:pattern {"slug":"modul-r/related-products"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
