<!-- wp:template-part {"slug":"header","theme":"modul-r","tagName":"header","className":"is-style-sticky"} /-->

<!-- wp:spacer {"height":"240px"} -->
<div style="height:240px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|70"},"elements":{"link":{"color":{"text":"var:preset|color|secondary-dark"}}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top","justifyContent":"left"}} -->
	<div class="wp-block-group alignwide has-link-color">
		<!-- wp:template-part {"slug":"sidebar","theme":"modul-r","tagName":"aside"} /-->
		<!-- wp:woocommerce/legacy-template {"template":"single-product"} /-->
	</div><!-- /wp:group -->
</div><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"modul-r","tagName":"footer"} /-->

