<!-- wp:template-part {"slug":"header","tagName":"header","className":"is-style-sticky"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":90,"overlayColor":"white-smoke","minHeight":30,"minHeightUnit":"vw","textColor":"background","className":"is-dark is-style-wave-clip","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-dark is-style-wave-clip has-white-smoke-color has-text-color" style="min-height:30vw">
	<span aria-hidden="true" class="wp-block-cover__background has-white-smoke-background-color has-background-dim-90 has-background-dim"></span>
	<div class="wp-block-cover__inner-container">
		<!-- wp:pattern {"slug":"modul-r/headline"} /-->
	</div>

</div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|70"}}}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
