#secondary {
  
  // the sidebar's product accordion
  ul.product-categories {
    
    ul {
      margin: 0;
      padding-left: var(--size--margin-l);
    }
  
    li {
      line-height: 42px;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  
    & > li:first-child { border: 0; }
    
    a {
      color: var(--color--text);
      font-weight: 500;
    }
    
    .current-cat-parent,.current-cat {
      & > a {
        font-weight: var(--typography--title--font-weight);
      }
    }
    .current-cat {
      & > a {
        filter: brightness(115%);
      }
    }
    
    .toggle {
      i {
        opacity: .5;
        transition: $animations__lenght;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: var(--size--margin--);
      }
    }
    .cat-parent.active > a i {
      opacity: 1;
      transform: rotate(90deg);
      filter: brightness(115%);
    }
    
  }
  
  ul.product_list_widget {
    $list-line-size: 48px;
    
    a {display: block;}
    
    li {
      height: var(--typography--line-height);
      border-top: 1px solid rgba(var(--wp--preset--color--black), 0.05);
      font-size: var(--typography--font-size--xs);
      line-height: 1;
      
      &:first-child { border: 0;}
      
      span {
        display: inline-block;
        
        &.woocommerce-Price-amount {
          color: var(--wp--preset--color--primary);
        }
      }
      
      .product-title {
        color: var(--color--text);
        font-weight: var(--typography--title--font-weight);
        padding-top: var(--size--margin--);
        line-height: var(--typography--line-height);
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
  
      img {
        width: $list-line-size;
        height: $list-line-size;
        object-fit: contain;
        margin-left: var(--size--margin--);
      }
    }
  }

}

#secondary,
#colophon {
  ul.cart_list li a,
  ul.product_list_widget li a {
    display: inline;
    font-weight: 700;
  }
}
