body.woocommerce {
  
  // the ui
  .woocommerce-breadcrumb {
    margin: 0;
    line-height: 1;
    padding-bottom: $size__margin * 4;
    @extend .ellipsis;
    @media #{$mq__smaller-than-tablet} {padding: 0;}
  }
  
  .woocommerce-result-count {
    line-height: $size__padding * .75;
    @media #{$mq__smaller-than-tablet} {font-size: $text__size - 4}
  }
  .woocommerce-ordering {
    a, span, option, select {
      @media #{$mq__smaller-than-tablet} {font-size: $text__size - 4}
    }
  }
  
  .product_meta {
    margin-top: $size__margin * 2;
    & > span {
      display: block;
      font-weight: 600;
      span, a {font-weight: 400;}
    }
  }
  
}


// Select2 custom style
.select2-selection__rendered {
  line-height: $size__padding * .75 !important;
}
.select2-container .select2-selection--single,
.select2-selection__arrow {
  height: $size__padding * .75 !important;
}