body.woocommerce {
  
  // the product list style
  ul.products {
    padding-top: $size__padding * .5;
  
    li.product {
      padding-bottom: $size__padding * .5;
      background-color: $color__white;
  
      a img {
        width: auto;
        max-width: 100%;
        height: 200px;
        object-fit: contain;
        margin: ($size__margin * 2) auto;
        padding: 0 ($size__margin * 2);
        box-sizing: border-box;
      }
    
      .woocommerce-loop-product__title {
        font-weight: 600;
        padding: 0 ($size__margin * 2) $size__margin;
        margin: 0;
        font-size: $text__size;
      }
      
      a.button {
        display: table;
        padding: $size__margin;
        margin: $size__margin auto 0;
        position: inherit;
        left: inherit;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        border: 1px solid #f3f3f3;
        background-color: white;
      }
    }
  }
  
  
  // the archive page
  &.post-type-archive-product {
    .woocommerce-products-header {
      padding: 0 $size__padding-resp ($size__padding * .25);
    }
  }
  
  
  // the single product
  div.product {
    
    .product_title.entry-title {
      font-size: 42px;
      text-align: left;
      @media #{$mq__smaller-than-tablet} {font-size: 32px;}
    }
    
    div.images .flex-control-thumbs li {
      padding: 0;
    }
    
    form.cart {
      margin-top: $size__margin * 2;
      div.quantity {
        .qty {
          font-size: 18px;
        }
      }
      .qty,
      .button {
        height: $size__padding * .75;
      }
    }
    
    .woocommerce-tabs .entry-content > * {
      width: 100%;
    }
  
    table.woocommerce-product-attributes {
      margin-left: $size__padding-resp;
      margin-right: $size__padding-resp;
      td {
        padding-left: $size__padding-resp;
      }
      tr:nth-child(even) th {
        background-color: darken($color__secondary, 8%);
      }
    }
  
    .related.products {
      padding: ($size__padding * .5) $size__padding-resp ($size__padding * .25);
    }
    
  }
  
}