#secondary {
  
  // the sidebar's product accordion
  ul.product-categories {
    
    ul {
      margin: 0;
      padding-left: var(--sizes--margin-l);
    }
  
    li {
      line-height: 42px;
      margin: 0;
      @extend .ellipsis;
      border-top: 1px solid var(--color--text);
    }
  
    & > li:first-child { border: 0; }
    
    a {
      color: var(--color--text);
      font-weight: 500;
    }
    
    .current-cat-parent,.current-cat {
      & > a {
        font-weight: var(--typography--default--font-weight--bold);
      }
    }
    .current-cat {
      & > a {
        filter: brightness(115%);
      }
    }
    
    .toggle {
      i {
        opacity: .5;
        transition: $animations__lenght;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: var(--sizes--margin--);
      }
    }
    .cat-parent.active > a i {
      opacity: 1;
      transform: rotate(90deg);
      filter: brightness(115%);
    }
    
  }
  
  ul.product_list_widget {
    $list-line-size: 48px;
    
    a {display: block;}
    
    li {
      height: var(--typography--default--line-height);
      border-top: 1px solid rgba(var(--wp--preset--color--black), 0.05);
      font-size: var(--typography--default--font-size--xs);
      line-height: 1;
      
      &:first-child { border: 0;}
      
      span {
        display: inline-block;
        
        &.woocommerce-Price-amount {
          color: var(--wp--preset--color--secondary);
        }
      }
      
      .product-title {
        color: var(--color--text);
        font-weight: var(--typography--default--font-weight--bold);
        padding-top: var(--sizes--margin--);
        line-height: var(--typography--default--line-height);
        display: block;
        @extend .ellipsis;
      }
  
      img {
        width: $list-line-size;
        height: $list-line-size;
        object-fit: contain;
        margin-left: var(--sizes--margin--);
      }
    }
  }

}