body.woocommerce {
  
  // the product list style
  ul.products {
    padding-top: var(--size--margin-m);
  
    li.product {
      padding-bottom: var(--size--margin-m);
      background-color: var(--wp--preset--color--white);
      display: flex;
      flex-direction: column;
  
      a img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: 0 auto var(--size--margin-m);
        padding: 0;
        box-sizing: border-box;
      }
    
      .woocommerce-loop-product__title {
        padding: 0 0 var(--size--margin-xs);
        margin: 0;
        font-size: var(--typography--font-size--m);
        text-align: center;
      }
      
      a.button {
        font-size: 11px;
        border: 1px solid var(--wp--preset--color--gray-light);
        background-color: white;
        align-content: center;
        margin: var(--size--margin-s) auto 0;
      }

      .added_to_cart {
        $add-to-cart: 30px;
        position: absolute;
        bottom: $add-to-cart * .5;
        right: $add-to-cart * .5;
        height: $add-to-cart;
        width: $add-to-cart;
        display: block;
        text-align: center;
        background: var(--wp--preset--color--primary);
        color: white;
        padding: 0;
        margin: 0;
        font-size: 0;
        border-radius: 50%;
        
        &:before {
          display: block;
          font-family: Material Icons;
          content: "\E547";
          font-weight: 500;
          font-size: 24px;
          line-height: $add-to-cart;
          opacity: 0.99;
        }
      }

      .star-rating {
        text-align: center;
        height: 1em;
        margin: 0 auto -1em;
        z-index: 0;
        opacity: 0.05;
        font-size: 1.5em;
        color: var(--wp--preset--color--black);
      }
      
      p.price,
      span.price {
        color: var(--wp--preset--color--gray-dark);
        line-height: var(--typography--line-height);
        font-size: var(--typography--font-size--s);
        display: block;
        text-align: center;
      }
    }
  }
  
  
  // the archive page
  &.post-type-archive-product,
  &.tax-product_cat {
    .woocommerce-products-header {
    }
  }
  
  
  // the single product
  div.product {
  
    img.wp-post-image {
      max-height: 50vh;
      margin: auto;
      object-fit: contain;
    }
    
    .gallery__image {
      @media #{$mq__smaller-than-tablet} {
        height: 300px;
        margin: auto;
        img {
          object-fit: contain;
          height: 100%;
        }
      }
    }
  
    .summary.entry-summary {
      padding-left: var(--size--margin-m);
      box-sizing: border-box;
      @media #{$mq__smaller-than-tablet} { padding-left: 0;}
    }
    
    .product_title.entry-title {
      margin: 0;
      font-size: var(--typography--font-size--xxl);
      font-weight: var(--typography--title--font-weight);
      text-align: left;
      @media #{$mq__smaller-than-tablet} {font-size: var(--typography--font-size--xl);}
    }

    p.price {
      color: var(--wp--preset--color--gray);
      font-weight: var(--typography--text--regular);
      padding-top: var(--size--margin-m);
      padding-bottom: var(--size--margin-l);

      ins {
        font-weight: var(--typography--text--regular);
      }
    }
    
    div.images .flex-control-thumbs li {
      padding: 0;
    }
  
    .woocommerce-variation.single_variation {
      margin-bottom: 1em;
    }
    
    form.cart {
      $form-radius: 4px;
      $quantity-height: 48px;
      margin-top: var(--size--margin-m);
      div.quantity {
        display: flex;
        margin: 0;
        height: $quantity-height;
        input {
          margin: 0;
          border: 1px solid #e3e3e3;
          border-radius: $form-radius 0 0 $form-radius;
        }
        .qty {font-size: 18px;}
        
        + button {
          border-radius: 0;
          height: $quantity-height;
        }
      }
    }
    
    .woocommerce-tabs {
      &.wc-tabs-wrapper {
        margin-left: calc( var(--size--responsive--side-margin) * -1);
        margin-right: calc( var(--size--responsive--side-margin) * -1);
  
        ul.tabs {
          li a {
            font-size: var(--typography--font-size--s);
            @media #{$mq__smaller-than-tablet} {font-size: var(--typography--font-size--s);}
          }
        }
      }
      
      .entry-content {
        & > * {width: 100%;}
        table {width: calc(100% - var(--size--margin-l));}
      }
    }
  
    table.woocommerce-product-attributes {
      margin-left: var(--size--responsive--side-margin);
      margin-right: var(--size--responsive--side-margin);
      td {
        padding-left: var(--size--responsive--side-margin);
      }
      tr:nth-child(even) th {
        background-color: var(--wp--preset--color--primary-dark);;
      }
    }
  
    .related.products {
      padding: var(--size--margin-l) 0 var(--size--margin-m);
      ul.products li.product .woocommerce-loop-product__title {
        font-size: var(--typography--font-size--s);
        @media #{$mq__smaller-than-tablet} {font-size: var(--typography--font-size--s);}
      }
    }
    
  }

  // Reviews
  .woocommerce-Reviews {

    .comment-form-rating {
      $star-size: 32px;
      margin: var(--size--margin-m) 0;
      .rating {
        display: inline;
        line-height: $star-size;
      }
      .stars {
        display: inline;
        vertical-align: bottom;
        line-height: $star-size;
        font-size: $star-size;
        a {
          color: var(--wc-orange);
        }
        &.selected a.active~a::before {
          color: var(--wp--preset--color--gray-light);
        }
      }
    }

    h2.woocommerce-Reviews-title,
    #review_form_wrapper #reply-title {
      font-family: var(--typography--title--font-family);
      font-weight: var(--typography--title--font-weight);
    }

    #review_form_wrapper {
        margin-top: var(--size--margin-m);
        padding: var(--size--margin-m);
        background-color: var(--wp--preset--color--white);

        #reply-title {
          font-size: var(--typography--font-size--xl);
        }
    }

    .woocommerce-review__author {
        font-family: var(--typography--title--font-family);
        font-weight: var(--typography--title--font-weight);
    }
  }
  
}