body.woocommerce {
  
  // the ui
  .woocommerce-breadcrumb {
    margin: 0;
    line-height: 1;
    padding-bottom: var(--size--margin-l);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @media #{$mq__smaller-than-tablet} {padding-bottom: var(--size--margin-m);}
  }

  .star-rating {
    color: var(--wc-orange);
    + .woocommerce-review-link {
      color: var(--color--text);
    }
  }
  
  .woocommerce-result-count {
    @media #{$mq__smaller-than-tablet} {font-size: var(--typography--font-size--s)}
  }
  .woocommerce-ordering {
    a, span, option, select {
      @media #{$mq__smaller-than-tablet} {font-size: var(--typography--font-size--s)}
    }
  }
  
  .product_meta {
    margin-top: var(--size--margin-m);
    & > span {
      display: block;
      font-weight: var(--typography--title--font-weight);
      line-height: var(--typography--line-height--wide);
      span, a {font-weight: 400;}
    }
  }
  
  // product lightbox background reset
  .pswp__button {
    background-color: transparent;
    min-width: inherit;
    padding: 0;
    border-radius: 0;
  }
}



.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: var(--wp--preset--color--primary);
  &:hover {
    background-color: rgba(var(--wp--preset--color--primary--decimal), .8);
  }
}

.woocommerce button.button.alt.disabled {
  background-color: var(--wp--preset--color--gray);
  &:hover {
    background-color: var(--wp--preset--color--gray-dark);
  }
}

// Select2 custom style
.select2-selection__rendered {
  line-height: var(--size--margin-l) !important;
}
.select2-container .select2-selection--single,
.select2-selection__arrow {
  height: var(--size--margin-l) !important;
}