.interactive {
  
  overflow: hidden;

  &.animated img {
    transition: $animations__lenght * 2;
  }
  
  &.fade-in {
    img {opacity: 0;}
    &.visible img {opacity: 1;}
  }
  
  &.enter-left {
    img {transform: translateX(-100px);}
    &.visible img {transform: translateX(0);}
  }
  
  &.enter-down {
    img {transform: translateY(200px);}
    &.visible img {transform: translateY(0);}
  }
  
  &.parallax {
    img {
      height: calc(100% + 200px);
      margin-bottom: -200px !important;
    }
  }
  
}



@for $i from 1 to 10 {
  .delay-#{$i}) { animation-delay: $i * 0.5s; }
  .delay-fast-#{$i}) { animation-delay: $i * 0.25s; }
  .delay-overlap-#{$i} {animation-delay: $i - $i * 0.7s;}
}