/* Block styles */

.site-main .entry-content > * {
  
  @extend %website-width;
  
  margin-top: $size__padding * .75;
  margin-bottom: $size__padding;
 
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
    clear: both;
  }
  
  &.alignclose {
    margin-top: 0;
    margin-bottom: 0;
    
    &.has-media-on-the-right.padded-image img {
      margin-right: $size__padding;
      margin-left: 0;
    }
  }
  
  &.alignwide {
    width: 100%;
    max-width: $size__site-width;
    padding-left: $size__margin;
    padding-right: $size__margin;
    clear: both;
  }
  
  &.alignfull {
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    clear: both;
  }
  
  &.alignleft {
    float: left;
    width: auto;
    max-width: $size__site-width + ($size__side-padding * .5);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: $size__margin;
    padding-right: $size__margin;
  }
  
  &.alignright {
    float: right;
    width: auto;
    max-width: $size__site-width + ($size__side-padding * .5);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: $size__margin;
    padding-right: $size__margin;
  }
  
  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    @media #{$mq__tablet} {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  &.height-40 {
    min-height: 40vh;
  }
  
  &.height-100 {
    min-height: 100vh;
  }
}

/* Typography styles */
.site-main {
  .entry-content {
    line-height: $text__line-height-content;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      margin-bottom: $size__padding * .25;
      line-height: $text__line-height;
    }
  
    p {
      margin-top: 0;
      margin-bottom: $size__padding * .25;
    
      & + h1,
      & + h2 {
        margin-top: $size__padding;
      }
    
      & + h3,
      & + h4,
      & + h5,
      & + h6 {
        margin-top: $size__padding * .5;
      }
    }
  }
  
  ul, ol, dl {
    padding: 0 ($size__padding-resp * 2);
    margin-top: $size__padding * .5;
    margin-bottom: $size__padding * .25;
    list-style-position: inside;
    line-height: $text__line-height-content;
    
    li, dt {
      padding-left: $size__margin;
    }

    ul, ol {
      padding-left: $size__padding-resp * 2;
    }
  }
  
  .wp-block-gallery {
    padding-left: $size__padding-resp;
    padding-right: $size__padding-resp;
    &.alignfull {
      padding:0;
      .blocks-gallery-grid {
        margin: 0;
        padding: 0;
      }
    }
  }
  
  .wp-block-media-text {
    margin-top: 0;
    margin-bottom: 0;
    h1,
    h2,
    h3 {
      margin-top: 0;
    }
  }
  
  button {
    margin-top: $size__padding * .5;
  }

}

/*
 * Unset nested content selector styles
 * - Prevents layout styles from cascading too deeply
 * - helps with plugin compatibility
 */
.entry .entry-content,
.entry .entry-summary {
  
  .entry-content,
  .entry-summary,
  .entry {
    margin: inherit;
    max-width: inherit;
    padding: inherit;
    
    @media #{$mq__smaller-than-tablet} {
      margin: inherit;
      max-width: inherit;
      padding: inherit;
    }
  }
}

/* Blocks styles */
.entry-content {
  
  //! Subhead
  .wp-block-subhead {
    // @extend h4;
    font-style: inherit;
    opacity: 1;
    color: $color__black;
  }
  
  //! Audio
  .wp-block-audio {
    
    audio {width: 100%;}
    
    &.alignleft audio,
    &.alignright audio {
      
      max-width: (0.33 * $size__site-width);
      
      @media #{$mq__smaller-than-tablet} {
        max-width: (0.5 * $size__site-width);
      }
      
      @media #{$mq__desktop} {
        max-width: (0.33 * $size__site-width);
      }
    }
    
    &.alignwide,
    &.alignfull {
      padding-left: $size__padding-resp;
      padding-right: $size__padding-resp;
    }
  }
  
  //! Video
  .wp-block-video {
    
    video {
      width: 100%;
    }
    
    &.alignwide{
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  //! Button
  .wp-block-button {
    
    .wp-block-button__link {
      @extend %button;
    }
    
    &.is-style-squared .wp-block-button__link {
      border-radius: 0;
    }
    
    &.is-style-outline .wp-block-button__link,
    &.is-style-outline .wp-block-button__link:focus,
    &.is-style-outline .wp-block-button__link:active {
      border: 2px solid;
      background-color: transparent;
      
      &:not(.has-background) {
        background: transparent;
      }
      
      &:not(.has-text-color) {
        color: $color__accent;
        border-color: currentColor;
      }
    }
    
    &.is-style-outline .wp-block-button__link:hover {
      color: $color__accent;
      background-color: $color__white;
      border-color: $color__accent;
      filter: brightness(120%);
      
      &:not(.has-background) {
        color: $color__accent;
      }
    }
    
  }
  
  //! Latest posts, categories, archives
  .wp-block-archives,
  .wp-block-categories,
  .wp-block-latest-posts {
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
    
    li {
      color: $color__text;
      font-weight: 300;
      
      &.menu-item-has-children,
      &:last-child {
        padding-bottom: 0;
      }
      
      a {
        text-decoration: none;
        font-weight: 500;
      }
    }
    
    .wp-block-latest-posts__post-date {
      color: $color__black;
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: $size__padding * .5;
    }
  }
  
  .wp-block-archives,
  .wp-block-categories {

    list-style-type: none;

    
    ul,
    li {
      padding: 0;
      margin: 0 auto;
    }
    
    li {
      a { margin-bottom: $size__margin}
    }
  
    ul {
      list-style-type: none;
      padding-left: $size__padding-resp;
      a {
        color: $color__text;
        font-weight: 400;
      }
    }
  
    
    &.aligncenter {
      text-align: center;
      ul {
        padding: 0 0 $size__padding-resp * .5;
      }
    }
  }
  
  //! Latest categories
  .wp-block-categories {
  
  }
  
  //! Latest posts grid view
  .wp-block-latest-posts.is-grid {
    display: flex;
    justify-content: space-between;
    li {
      background-color: $color__white;
      margin: 0;
    }
  }
  
  //! Latest preformatted text
  .wp-block-preformatted {
    line-height: $text__line-height * 1.5;
    padding: ($size__padding * .5)  $size__padding;
  }
  
  //! Verse
  .wp-block-verse {
    line-height: 2;
    font-weight: 300;
    font-style: italic;
  }
  
  //! Paragraphs
  .has-drop-cap {
    margin-bottom: $size__padding * .5;
    
    &:not(:focus):first-letter {
      font-family: $font__family-headline;
      line-height: 1;
      font-weight: 600;
      margin: 0 ($size__margin * 2) 0 0;
    }
  }
  
  //! Pullquote
  .wp-block-pullquote {
    border-color: transparent;
    border-width: 2px;
    padding: ($blockquote__icon-size * .5) ($blockquote__icon-size * 2);
    
    @media #{$mq__theme-width} {
      padding: ($blockquote__icon-size * .5) ($size__padding-resp * 2);
    }
    
    blockquote {
      color: $color__text;
      border: none;
    }
    
    p {
      font-style: italic;
      font-weight: 300;
      line-height: 1.3;
      
      em {
        font-style: normal;
      }
    }
    
    cite {
      display: inline-block;
      font-family: $font__family-headline;
      line-height: 1.6;
      text-transform: none;
      color: $color__text;
    }
    
    &.alignleft,
    &.alignright {
      width: 100%;
      
      blockquote {
        margin: $size__margin 0;
        max-width: 100%;
        
        p:first-child {
          margin-top: 0;
        }
      }
    }
    
    &.is-style-solid-color {
      background-color: $color__secondary;
      padding-left: 0;
      padding-right: 0;
      
      p {
        line-height: 1.3;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      
      cite {
        color: inherit;
      }
      
      blockquote {
        max-width: 100%;
        color: $color__background;
        padding-left: 0;
        margin-left: $size__margin;
        margin-right: $size__margin;
        
        &.has-text-color p,
        &.has-text-color a,
        &.has-primary-color,
        &.has-secondary-color,
        &.has-dark-gray-color,
        &.has-light-gray-color,
        &.has-white-color {
          color: inherit;
        }
      }
    }
  }
  
  //! Blockquote
  .wp-block-quote {
    
    &:not(.is-large),
    &:not(.is-style-large) {
      border-left: 2px solid $color__secondary;
      padding-left: $blockquote__icon-size * 2;
      padding-top: $blockquote__icon-size * .5;
      padding-bottom: $blockquote__icon-size * .5;
    }
    
    p {
      font-size: 1em;
      font-style: normal;
      line-height: 1.8;
    }
    
    cite {}
    
    &.is-large,
    &.is-style-large {
      border-left: 0;
      border-right: 0;
      max-width: 100%;
      
      p {
        line-height: 1.4;
        font-style: italic;
      }
      
      cite,
      footer {
      }
    }
  }
  
  //! Image
  .wp-block-image {

    .image-border {
      padding: 20px;
      background: red;
    }
    
    .aligncenter {
      
      @media #{$mq__smaller-than-tablet} {
        margin: 0 auto;
        
        img {
          margin: 0 auto;
        }
      }
      
      @media #{$mq__desktop} {
        img {
          margin: 0 auto;
        }
      }
    }
    
    &.alignfull img {
      width: 100%;
      
      @media #{$mq__smaller-than-tablet} {
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    .alignleft {
      margin-right: $size__margin * 4;
      @media #{$mq__smaller-than-tablet} {
        margin-right: $size__margin * 2;
      }
    }
    
    .alignright {
      margin-left: $size__margin * 4;
      @media #{$mq__smaller-than-tablet} {
        margin-left: $size__margin * 2;
      }
    }
    
    .alignleft,
    .alignright {
      @media #{$mq__smaller-than-tablet} {
        width: 100%;
        img {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    
  }
  
  //! Media Text
  .wp-block-media-text{

    &.alignwide {padding:0;}
    
    .wp-block-media-text__media {
      margin-top: 0;
      margin-bottom: 0;
      overflow: hidden;
      display: flex;
      img {
        align-self: center;
      }
    }
    
    @media #{$mq__tablet-portrait} {
      .is-stacked-on-mobile {
        min-height: 30vh;
      }
    }
    
    &.padded-image {
      
      img {
        max-height: 60vh;
        object-fit: contain;
        padding: $size__padding ($size__padding * 0.5) $size__padding $size__padding;
        box-sizing: border-box;
      }
      
      @media #{$mq__tablet-portrait} {
        img {padding: $size__padding * 0.5;}
        &.has-media-on-the-right img{
          padding: $size__padding $size__padding $size__padding ($size__padding * 0.5);
        }
      }
      
    }
    
    .wp-block-media-text__media img{
      object-position: right;
    }
    
    &.has-media-on-the-right {
      .wp-block-media-text__media img{
        object-position: left;
      }
    }
    
    .wp-block-media-text__content {
      max-width: $size__site-width * .4;
      padding-right: inherit;
      padding-left: $size__padding;
      padding-top: $size__padding * .5;
      padding-bottom: $size__padding * .5;
      
      @media #{$mq__smaller-than-tablet} {
        padding-left: $size__padding-resp !important;
        padding-right: $size__padding-resp !important;
      }
    }
    
    &.has-media-on-the-right {
      .wp-block-media-text__content {
        float: right;
        padding-left: inherit;
        padding-right: $size__padding;
        margin-left: auto;
      }
    }
  }
  
  //! Cover Image
  .wp-block-cover-image,
  .wp-block-cover {
    position: relative;
    min-height: 430px;
    padding: 0;
    background-color: initial;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    .wp-block-cover__inner-container {
      max-width: $size__site-width - ($size__side-padding * 2);
    }
    
    .wp-block-cover-image-text,
    .wp-block-cover-text,
    h2 {
      font-family: $font__family-headline;
      font-weight: bold;
      line-height: $text__line-height;
      padding: 0;
      margin: $size__padding-resp auto;
      
      @media #{$mq__smaller-than-tablet} {
        max-width: 100%;
      }
    }
    
    &.alignleft,
    &.alignright {
      width: 100%;
      
      @media #{$mq__smaller-than-tablet} {
        padding: $size__margin ($size__margin * 2);
      }
    }
    
    &.alignfull {
      
      .wp-block-cover-image-text,
      .wp-block-cover-text,
      h2 {
      
      }
      
      @media #{$mq__smaller-than-tablet} {
        
        .wp-block-cover-image-text,
        .wp-block-cover-text,
        h2 {
          padding: 0;
        }
      }
    }
  }
  
  //! Galleries
  .wp-block-gallery {
    list-style-type: none;
    
  
    .blocks-gallery-item {
      padding: 0;
    }
    
    .blocks-gallery-image:last-child,
    .blocks-gallery-item:last-child {
      margin-bottom: 16px;
    }
    
    figure {
      margin: 0 !important;
    }
    
    &.is-cropped figure img{
      height:100%;
      width:100%;
    }
    
    .blocks-gallery-item figcaption {
      overflow: hidden;
    }
    
    figcaption a {
      color: #fff;
    }
  }
  
  //! Captions
  .wp-block-audio figcaption,
  .wp-block-video figcaption,
  .wp-block-image figcaption,
  .wp-block-gallery .blocks-gallery-image figcaption,
  .wp-block-gallery .blocks-gallery-item figcaption {
    margin: 0;
    padding: $size__margin;
    text-align: center;
    box-sizing: border-box;
  }
  
  //! Separator
  .wp-block-separator,
  hr {
    height: 2px;
    margin-top: $size__padding;
    margin-bottom: $size__padding * .5;
    max-width: 2.25em;
    text-align: left;
    
    &.is-style-wide {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: 100%;
      border-bottom: 1px solid transparentize($color__black, .9 );
    }
    
    &.is-style-dots {
      max-width: 100%;
      background-color: inherit;
      border: inherit;
      height: inherit;
      text-align: center;
      
      &:before {
        color: $color__secondary;
        font-size: 64px;
        letter-spacing: 24px;
        padding-left: 24px;
      }
    }
    
    /* Remove duplicate rule-line when a separator
     * is followed by an H1, or H2 */
    & + h1,
    & + h2 {
      
      &:before {
        display: none;
      }
    }
  }
  
  //! Twitter Embed
  .wp-block-embed-twitter {
    clear: both;
  }
  
  //! Table
  .wp-block-table {
    
    border-collapse: separate;
  
    tr { border-collapse: collapse; }
    
    th,
    td {
      border-color: transparent;
      border-bottom: 1px solid $color__light-grey;
    }
    
    &.alignwide {width: $size__site-width;}
    
    &.alignfull {width: 100%;}
  }
  
  //! File
  .wp-block-file {
    font-family: $font__family-headline;
    
    .wp-block-file__button {
      display: table;
      border: none;
      border-radius: 5px;
      background: $color__accent;
      font-size: $text__size;
      text-decoration: none;
      font-weight: bold;
      color: $color__white;
      margin-left: 0;
      margin-top: calc(0.75 * #{$size__margin});
      
      &:hover {
        filter: brightness(120%);
        cursor: pointer;
      }
      
      &:focus {
        filter: brightness(120%);
        outline: thin dotted;
        outline-offset: -4px;
      }
    }
  }
  
  //! Columns
  .wp-block-text-columns {
    &.alignwide {
      padding-left: $size__padding-resp;
      padding-right: $size__padding-resp;
    }
  }
  
  //! Code
  .wp-block-code {
    border-radius: 0;
    code {
      white-space: pre;
      overflow-x: auto;
    }
  }
  
  //! Columns
  .wp-block-columns {
    
    &.alignfull {
      padding-left: $size__padding-resp;
      padding-right: $size__padding-resp;
    }
    
    @media #{$mq__phablet} {
      flex-wrap: nowrap;
    }
    
    @media #{$mq__smaller-than-tablet} {
      .wp-block-column > * {
        
        &:first-child {
          margin-top: 0;
        }
        
        &:last-child {
          margin-bottom: 0;
        }
      }
      
      &[class*='has-'] > * {
        &:last-child {
          margin-right: 0;
        }
      }
      
      &.alignfull,
      &.alignfull .wp-block-column {
        padding-left: $size__margin * 2;
        padding-right: $size__margin * 2;
      }
    }
  }
  
  //! Latest Comments
  .wp-block-latest-comments {
    
    .wp-block-latest-comments__comment-meta {
      font-family: $font__family-headline;
      font-weight: bold;
      
      .wp-block-latest-comments__comment-date {
        font-weight: normal;
      }
    }
    
    .wp-block-latest-comments__comment,
    .wp-block-latest-comments__comment-date,
    .wp-block-latest-comments__comment-excerpt p {
      font-size: inherit;
    }
    
    &.has-avatars {
    
    }
    
    &.has-dates {
      
      .wp-block-latest-comments__comment-date {
        font-size: $text__size * .5;
      }
    }
    
    &.has-excerpts {
    
    }
  }
  
  //! Font Sizes
  .has-small-font-size {
    font-size: $text__size * .7;
  }
  
  .has-normal-font-size {
    font-size: $text__size;
  }
  
  .has-large-font-size {
    font-size: $text__size * 1.6;
    line-height: 1.2;
  }
  
  .has-huge-font-size {
    font-size: $text__size * 2.5;
    line-height: 1.2;
  }
}


