/* Blocks styles */

//! Subhead
.wp-block-subhead {
  font-style: inherit;
  opacity: 1;
}

//! Audio
.wp-block-audio {

  audio {width: 100%;}

  &.alignleft audio,
  &.alignright audio {

    max-width: calc(var(--size--responsive--side-margin) * .33);

    @media #{$mq__smaller-than-tablet} {
      max-width: calc(var(--size--responsive--side-margin) * .5);
    }

    @media #{$mq__desktop} {
      max-width: calc(var(--size--responsive--side-margin) * .33);
    }
  }

  &.alignwide,
  &.alignfull {
    padding-left: var(--size--responsive--side-margin);
    padding-right: var(--size--responsive--side-margin);
  }
}

//! Video
.wp-block-video {

  video {
    width: 100%;
  }

  &.alignwide{
    padding-left: 0;
    padding-right: 0;
  }
}

//! Latest posts, categories, archives
.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;

  li {
    &.menu-item-has-children,
    &:last-child {
      padding-bottom: 0;
    }
  }

  .wp-block-latest-posts__post-date {
    font-size: var(--typography--font-size--s);
    margin-bottom: var(--size--margin-m);
  }
}

.wp-block-archives,
.wp-block-categories {
  list-style-type: none;

  ul,
  li {
    padding: 0;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    padding-left: var(--size--responsive--side-margin);
  }

  li {
    a { margin-bottom: var(--size--margin--);}
  }
}

//! Latest posts grid view
.wp-block-latest-posts.is-grid {
  display: flex;
  justify-content: space-between;
  li {
    background-color: var(--wp--preset--color--white);
    margin: 0 0 var(--size--responsive--side-margin);
  }
}

//! Latest preformatted text
.wp-block-preformatted {
  line-height: var(--typography--line-height-wide);
  padding: var(--size--margin-l)  var(--size--margin-xl);
}

//! Verse
.wp-block-verse {
  line-height: 2.2;
  font-weight: var(--typography--text--light);
  font-style: italic;
}

//! Paragraphs
.has-drop-cap {
  margin-bottom: var(--size--margin-l);

  &:not(:focus):first-letter {
    font-family: var(--typography--title--font-family);
    line-height: 1;
    font-weight: var(--typography--title--font-weight);
    margin: 0 var(--size--margin-m) 0 0;
  }
}

//! Image
.wp-block-image {

  .aligncenter {
    @media #{$mq__desktop} {
      margin: 0 auto;
      img {
        margin: 0 auto;
      }
    }
  }

  &.alignfull img {
    width: 100%;

    @media #{$mq__smaller-than-tablet} {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .alignleft {
    margin-right: var(--size--margin-l);
    @media #{$mq__smaller-than-tablet} {
      margin-right: var(--size--margin-m);
    }
  }

  .alignright {
    margin-left: var(--size--margin-l);
    @media #{$mq__smaller-than-tablet} {
      margin-left: var(--size--margin-m);
    }
  }

  .alignleft,
  .alignright {
    @media #{$mq__smaller-than-tablet} {
      width: 100%;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

}

//! Media Text
.wp-block-media-text {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 400px;

  h1,
  h2,
  h3 {
    margin-top: 0;
  }

  &.alignwide {padding:0;}

  &.alignfull {max-width: inherit;}

  &.is-image-fill {
    min-height: 50vh;
    @media #{$mq__tablet-portrait} {
      min-height: 250px;
    }
  }

  &.is-style-centered-image {
    .wp-block-media-text__media {
      text-align: center;
    }
  }

  &.is-style-centered-image {
    .wp-block-media-text__media {
      text-align: center;
    }
  }

  &.is-style-small-image {
    .wp-block-media-text__media img {
      max-width: 50%;
    }
  }

  &.parallax {
    .wp-block-media-text__media img {
      padding: 0;
      width: 100%;
    }
  }

  &.is-style-full-height {
    height: calc(100vh - var(--header--nav--height));
    max-height: 1000px;
  }

  .wp-block-media-text__media {
    overflow: hidden;
    text-align: right;
    img {
      align-self: center;
      width: auto;
      max-width: 100%;
      padding: var(--size--margin-l) var(--size--margin-l);
      box-sizing: border-box;
    }
  }

  &.has-media-on-the-right {
    .wp-block-media-text__media {
      text-align: left;
    }
    .wp-block-media-text__content {
      padding-right: var(--size--margin-xl);
      padding-left: var(--size--margin-l);
      margin-left: auto;
    }
  }

  @media #{$mq__tablet-portrait} {
    .is-stacked-on-mobile .wp-block-media-text__media {
      min-height: 30vh;
    }
  }

  .wp-block-media-text__content {
    max-width: calc( var(--size--content--width-wide) * .4);
    padding: var(--size--margin-l) var(--size--margin-l);

    p.has-background {
      padding: 0;
      display: initial;
    }

    > * {
      margin-bottom: var(--size--margin--);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media #{$mq__smaller-than-tablet} {
      padding-left: var(--size--responsive--side-margin) !important;
      padding-right: var(--size--responsive--side-margin) !important;
    }
  }

}

.wp-block-cover,
.wp-block-media-text {

  &.is-style-traversal-clip {
    clip-path: polygon(0 var(--element--blocks--clip-slope), 100% 0, 100% calc(100% - var(--element--blocks--clip-slope)), 0 100%);
    margin-bottom: calc(-1 * var(--element--blocks--clip-slope));
    position: relative;
    z-index: 2;
  }

}

.wp-block-cover,
.wp-block-post-featured-image {

  &.is-style-wave-clip {
    mask-size: cover;
    mask-position: center bottom;
  }

}

//! Cover Image
.wp-block-cover-image,
.wp-block-cover {
  position: relative;
  min-height: 40vh;
  padding: var(--size--margin-m) 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .wp-block-cover__inner-container {
    max-width: var(--size--content--width);
    padding: 0 var(--size--margin-m);

    @media #{$mq__smaller-than-tablet} {
      max-width: inherit;
    }
  }

  .wp-block-cover-image-text,
  .wp-block-cover-text,
  h2 {
    font-family: var(--typography--title--font-family);
    font-weight: var(--typography--title--font-weight);
    line-height: var(--typography--line-height);
    padding: 0;
    margin: var(--size--margin-m) auto;

    @media #{$mq__smaller-than-tablet} {
      max-width: 100%;
    }
  }

  &.alignleft,
  &.alignright {
    width: 100%;

    @media #{$mq__smaller-than-tablet} {
      padding: var(--size--margin--) var(--size--margin-m);
    }
  }

  &.alignfull {

    @media #{$mq__smaller-than-tablet} {

      .wp-block-cover-image-text,
      .wp-block-cover-text,
      h2 {
        padding: 0;
      }
    }
  }
}

//! Galleries
.wp-block-gallery {
  list-style-type: none;
  padding-left: var(--size--responsive--side-margin);
  padding-right: var(--size--responsive--side-margin);

  &.alignfull {
    padding:0;
    .blocks-gallery-grid {
      margin: 0;
      padding: 0;
    }
  }

  .blocks-gallery-item {
    padding: 0;
  }

  .blocks-gallery-image:last-child,
  .blocks-gallery-item:last-child {
    margin-bottom: 16px;
  }

  figure {
    margin: 0 !important;
  }

  &.is-cropped figure img{
    height:100%;
    width:100%;
  }

  .blocks-gallery-item figcaption {
    overflow: hidden;
  }

  figcaption a {
    color: var(--wp--preset--color--white);
  }


  // Masonry like layout for galleries
  &.is-style-masonry .blocks-gallery-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--element--gallery--mosaic-grid-size), 1fr));
    grid-gap: var(--element--gallery--mosaic-grid-gap);
    grid-auto-rows: minmax(var(--element--gallery--mosaic-grid-size), auto);
    grid-auto-flow: dense;
    padding: var(--element--gallery--mosaic-grid-gap);
    @media #{$mq__smaller-than-tablet} {
      grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
      grid-auto-rows: minmax(25vw, auto);
    }
    >.blocks-gallery-item {
      margin: 0;
      display: grid;
      grid-template-rows: 1fr auto;
      width: auto;
      justify-content: inherit;
      > * {
        grid-row: 1 / -1;
        grid-column: 1;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:first-child,
      &:nth-of-type(5n) {
        grid-column-end: span 2;
        grid-row-end: span 2;
      }
    }
  }

}


//! Captions
.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  margin: 0;
  padding: var(--size--margin--);
  text-align: center;
  box-sizing: border-box;
}

//! Separator
.wp-block-separator,
hr {
  border: none;
  border-bottom: 1px solid var(--wp--preset--color--gray-light);
  opacity: 1;
  height: 2px;
  margin-top: var(--size--margin-l);
  margin-bottom: var(--size--margin-l);
  max-width: 2.25em;
  text-align: left;

  &.is-style-wide {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }

  &.is-style-dots {
    max-width: 100%;
    background-color: inherit;
    border: inherit;
    height: inherit;
    text-align: center;

    &:before {
      color: var(--wp--preset--color--primary);
      font-size: 58px;
      letter-spacing: 24px;
      padding-left: 24px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  /* Remove duplicate rule-line when a separator
   * is followed by an H1, or H2 */
  & + h1,
  & + h2 {
    &:before {
      display: none;
    }
  }
}

//! Twitter Embed
.wp-block-embed-twitter {
  clear: both;
}

//! Table
.wp-block-table {

  border-collapse: separate;

  tr { border-collapse: collapse; }

  th,
  td {
    border-color: transparent;
    border-bottom: 1px solid var(--wp--preset--color--gray-light);
  }

  &.alignwide {width: var(--size--content--width-wide);}

  &.alignfull {width: 100%;}
}

//! File
.wp-block-file {
  font-family: var(--typography--title--font-family);

  .wp-block-file__button {
    display: table;
    border: none;
    border-radius: 5px;
    background: var(--wp--preset--color--primary);
    font-size: var(--typography--font-size--m);
    text-decoration: none;
    font-weight: var(--typography--title--font-weight);
    color: var(--wp--preset--color--white);
    margin-left: 0;
    margin-top: var(--size--margin--);

    &:hover {
      filter: brightness(120%);
      cursor: pointer;
    }

    &:focus {
      filter: brightness(120%);
      outline: thin dotted;
      outline-offset: -4px;
    }
  }
}

//! Columns
.wp-block-text-columns {
  &.alignwide {
    padding-left: var(--size--responsive--side-margin);
    padding-right: var(--size--responsive--side-margin);
  }
}

//! Columns
.wp-block-columns {

  &.alignfull {
    padding-left: var(--size--responsive--side-margin);
    padding-right: var(--size--responsive--side-margin);
  }

  @media #{$mq__phablet} {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  @media #{$mq__smaller-than-tablet} {

    .wp-block-column > * {

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.alignfull,
    &.alignfull .wp-block-column {
      padding-left: var(--size--margin-m);
      padding-right: var(--size--margin-m);
    }
  }
}

//! Latest Comments
.wp-block-latest-comments {

  .wp-block-latest-comments__comment-meta {
    font-family: var(--typography--title--font-family);
    font-weight: var(--typography--title--font-weight);

    .wp-block-latest-comments__comment-date {
      font-weight: var(--typography--text--regular);
    }
  }

  .wp-block-latest-comments__comment,
  .wp-block-latest-comments__comment-date,
  .wp-block-latest-comments__comment-excerpt p {
    font-size: inherit;
  }

  &.has-dates {

    .wp-block-latest-comments__comment-date {
      font-size: var(--typography--font-size--xs);
    }
  }
}

//! Font Sizes
.has-small-font-size {
  font-size: var(--typography--font-size--s);
}

.has-normal-font-size {
  font-size: var(--typography--font-size--m);
}

.has-large-font-size {
  font-size: var(--typography--font-size--l);
}

.has-huge-font-size {
  font-size: var(--typography--font-size--xxl);
}