/* Typography styles */
.site-main {
  .entry-content {
    line-height: var(--typography--default--line-height--wide);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      margin-bottom: var(--sizes--margin-s);
      line-height: var(--typography--default--line-height);
    }

    p {
      margin-top: 0;
      margin-bottom: var(--sizes--margin-s);
      list-style: inherit;
    }

    p {
    
      & + h1,
      & + h2 {
        margin-top: var(--sizes--margin-xl);
      }
    
      & + h3,
      & + h4,
      & + h5,
      & + h6 {
        margin-top: var(--sizes--margin-l);
      }
    }

    a {
      font-weight: var(--typography--default--font-weight--bold);
    }
  }
  
  ul, ol, dl {
    padding: 0 var(--sizes--margin-s);
    margin-top: var(--sizes--margin-m);
    list-style-position: inside;

    &,
    dd {
      margin-bottom: var(--sizes--margin-m);
    }

    li, dt {
      line-height: var(--typography--default--line-height--wide);
      padding-left: var(--sizes--margin--);
      list-style: inherit;
    }

    ul, ol, dd {
      padding-left: var(--sizes--responsive--side-margin);
    }
  }
  
  .wp-block-gallery {
    padding-left: var(--sizes--responsive--side-margin);
    padding-right: var(--sizes--responsive--side-margin);
    &.alignfull {
      padding:0;
      .blocks-gallery-grid {
        margin: 0;
        padding: 0;
      }
    }
  }
  
  .wp-block-media-text {
    margin-top: 0;
    margin-bottom: 0;
    h1,
    h2,
    h3 {
      margin-top: 0;
    }
  }
  
  button {
    margin-top: var(--sizes--margin-l);
  }

}

/*
 * Unset nested content selector styles
 * - Prevents layout styles from cascading too deeply
 * - helps with plugin compatibility
 */
.entry .entry-content,
.entry .entry-summary {
  
  .entry-content,
  .entry-summary,
  .entry {
    margin: inherit;
    max-width: inherit;
    padding: inherit;
    
    @media #{$mq__smaller-than-tablet} {
      margin: inherit;
      max-width: inherit;
      padding: inherit;
    }
  }
}

/* Blocks styles */
.entry-content {
  
  //! Subhead
  .wp-block-subhead {
    font-style: inherit;
    opacity: 1;
  }
  
  //! Audio
  .wp-block-audio {
    
    audio {width: 100%;}
    
    &.alignleft audio,
    &.alignright audio {
      
      max-width: calc(var(--sizes--responsive--side-margin) * .33);
      
      @media #{$mq__smaller-than-tablet} {
        max-width: calc(var(--sizes--responsive--side-margin) * .5);
      }
      
      @media #{$mq__desktop} {
        max-width: calc(var(--sizes--responsive--side-margin) * .33);
      }
    }
    
    &.alignwide,
    &.alignfull {
      padding-left: var(--sizes--responsive--side-margin);
      padding-right: var(--sizes--responsive--side-margin);
    }
  }
  
  //! Video
  .wp-block-video {
    
    video {
      width: 100%;
    }
    
    &.alignwide{
      padding-left: 0;
      padding-right: 0;
    }
  }

  //! Latest posts, categories, archives
  .wp-block-archives,
  .wp-block-categories,
  .wp-block-latest-posts {
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
    
    li {
      &.menu-item-has-children,
      &:last-child {
        padding-bottom: 0;
      }
    }
    
    .wp-block-latest-posts__post-date {
      color: var(--wp--preset--color--black);
      font-size: var(--typography--default--font-size--s);
      line-height: 1;
      margin-bottom: var(--sizes--margin-l);
    }
  }
  
  .wp-block-archives,
  .wp-block-categories {
    list-style-type: none;

    ul,
    li {
      padding: 0;
      margin: 0 auto;
    }

    ul {
      list-style-type: none;
      padding-left: var(--sizes--responsive--side-margin);
    }

    li {
      a { margin-bottom: var(--sizes--margin--);}
    }
  }
  
  //! Latest posts grid view
  .wp-block-latest-posts.is-grid {
    display: flex;
    justify-content: space-between;
    li {
      background-color: var(--wp--preset--color--white);
      margin: 0;
    }
  }
  
  //! Latest preformatted text
  .wp-block-preformatted {
    line-height: var(--typography--default--line-height-wide);
    padding: var(--sizes--margin-l)  var(--sizes--margin-xl);
  }
  
  //! Verse
  .wp-block-verse {
    line-height: 2.2;
    font-weight: var(--typography--default--font-weight--light);
    font-style: italic;
  }
  
  //! Paragraphs
  .has-drop-cap {
    margin-bottom: var(--sizes--margin-l);
    
    &:not(:focus):first-letter {
      font-family: var(--typography--title--font-family);
      line-height: 1;
      font-weight: var(--typography--default--font-weight--bold);
      margin: 0 var(--sizes--margin-m) 0 0;
    }
  }

  //! Image
  .wp-block-image {

    .aligncenter {
      @media #{$mq__desktop} {
        margin: 0 auto;
        img {
          margin: 0 auto;
        }
      }
    }
    
    &.alignfull img {
      width: 100%;
      
      @media #{$mq__smaller-than-tablet} {
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    .alignleft {
      margin-right: var(--sizes--margin-l);
      @media #{$mq__smaller-than-tablet} {
        margin-right: var(--sizes--margin-m);
      }
    }
    
    .alignright {
      margin-left: var(--sizes--margin-l);
      @media #{$mq__smaller-than-tablet} {
        margin-left: var(--sizes--margin-m);
      }
    }
    
    .alignleft,
    .alignright {
      @media #{$mq__smaller-than-tablet} {
        width: 100%;
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    
  }
  
  //! Media Text
  .wp-block-media-text {

    &.alignwide {padding:0;}

    &.alignfull {max-width: inherit;}

    &.is-image-fill {
      min-height: 50vh;
      @media #{$mq__tablet-portrait} {
        min-height: 250px;
      }
    }

    .wp-block-media-text__media {
      overflow: hidden;
      img {
        align-self: center;
      }
    }

    &.has-media-on-the-right {
      .wp-block-media-text__media img{
        object-position: left;
      }
      .wp-block-media-text__content {
        padding-right: var(--sizes--margin-xl);
        padding-left: var(--sizes--margin-l);
        margin-left: auto;
      }
    }

    @media #{$mq__tablet-portrait} {
      .is-stacked-on-mobile .wp-block-media-text__media {
        min-height: 30vh;
      }
    }

    .wp-block-media-text__content {
      max-width: calc( var(--sizes--content--width-wide) * .4);
      padding: var(--sizes--margin-xl) var(--sizes--margin-l) var(--sizes--margin-xl) var(--sizes--margin-xl);

      p.has-background {
        padding: 0;
        display: initial;
      }

      > * {
        margin-bottom: var(--sizes--margin--);

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      @media #{$mq__smaller-than-tablet} {
        padding-left: var(--sizes--responsive--side-margin) !important;
        padding-right: var(--sizes--responsive--side-margin) !important;
      }
    }

  }
  
  //! Cover Image
  .wp-block-cover-image,
  .wp-block-cover {
    position: relative;
    min-height: 40vh;
    padding: 0;
    background-color: initial;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    .wp-block-cover__inner-container {
      max-width: var(--sizes--content--width);
    }
    
    .wp-block-cover-image-text,
    .wp-block-cover-text,
    h2 {
      font-family: var(--typography--title--font-family);
      font-weight: var(--typography--default--font-weight--bold);
      line-height: var(--typography--default--line-height);
      padding: 0;
      margin: var(--sizes--margin-m) auto;
      
      @media #{$mq__smaller-than-tablet} {
        max-width: 100%;
      }
    }
    
    &.alignleft,
    &.alignright {
      width: 100%;
      
      @media #{$mq__smaller-than-tablet} {
        padding: var(--sizes--margin--) var(--sizes--margin-m);
      }
    }
    
    &.alignfull {

      @media #{$mq__smaller-than-tablet} {
        
        .wp-block-cover-image-text,
        .wp-block-cover-text,
        h2 {
          padding: 0;
        }
      }
    }
  }
  
  //! Galleries
  .wp-block-gallery {
    list-style-type: none;
    
  
    .blocks-gallery-item {
      padding: 0;
    }
    
    .blocks-gallery-image:last-child,
    .blocks-gallery-item:last-child {
      margin-bottom: 16px;
    }
    
    figure {
      margin: 0 !important;
    }
    
    &.is-cropped figure img{
      height:100%;
      width:100%;
    }
    
    .blocks-gallery-item figcaption {
      overflow: hidden;
    }
    
    figcaption a {
      color: var(--wp--preset--color--white);
    }
  }
  
  //! Captions
  .wp-block-audio figcaption,
  .wp-block-video figcaption,
  .wp-block-image figcaption,
  .wp-block-gallery .blocks-gallery-image figcaption,
  .wp-block-gallery .blocks-gallery-item figcaption {
    margin: 0;
    padding: var(--sizes--margin--);
    text-align: center;
    box-sizing: border-box;
  }
  
  //! Separator
  .wp-block-separator,
  hr {
    border: none;
    border-bottom: 1px solid var(--wp--preset--color--gray-light);
    opacity: 1;
    height: 2px;
    margin-top: var(--sizes--margin-xl);
    margin-bottom: var(--sizes--margin-l);
    max-width: 2.25em;
    text-align: left;
    
    &.is-style-wide {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: 100%;
    }
    
    &.is-style-dots {
      max-width: 100%;
      background-color: inherit;
      border: inherit;
      height: inherit;
      text-align: center;
      
      &:before {
        color: var(--wp--preset--color--primary);
        font-size: 64px;
        letter-spacing: 24px;
        padding-left: 24px;
      }
    }
    
    /* Remove duplicate rule-line when a separator
     * is followed by an H1, or H2 */
    & + h1,
    & + h2 {
      &:before {
        display: none;
      }
    }
  }
  
  //! Twitter Embed
  .wp-block-embed-twitter {
    clear: both;
  }
  
  //! Table
  .wp-block-table {
    
    border-collapse: separate;
  
    tr { border-collapse: collapse; }
    
    th,
    td {
      border-color: transparent;
      border-bottom: 1px solid var(--wp--preset--color--gray-light);
    }
    
    &.alignwide {width: var(--sizes--content--width-wide);}
    
    &.alignfull {width: 100%;}
  }
  
  //! File
  .wp-block-file {
    font-family: var(--typography--title--font-family);
    
    .wp-block-file__button {
      display: table;
      border: none;
      border-radius: 5px;
      background: var(--wp--preset--color--primary);
      font-size: var(--typography--default--font-size--m);
      text-decoration: none;
      font-weight: var(--typography--default--font-weight--bold);
      color: var(--wp--preset--color--white);
      margin-left: 0;
      margin-top: var(--sizes--margin--);
      
      &:hover {
        filter: brightness(120%);
        cursor: pointer;
      }
      
      &:focus {
        filter: brightness(120%);
        outline: thin dotted;
        outline-offset: -4px;
      }
    }
  }
  
  //! Columns
  .wp-block-text-columns {
    &.alignwide {
      padding-left: var(--sizes--responsive--side-margin);
      padding-right: var(--sizes--responsive--side-margin);
    }
  }
  
  //! Columns
  .wp-block-columns {
    
    &.alignfull {
      padding-left: var(--sizes--responsive--side-margin);
      padding-right: var(--sizes--responsive--side-margin);
    }
    
    @media #{$mq__phablet} {
      flex-wrap: nowrap;
    }
    
    @media #{$mq__smaller-than-tablet} {
      .wp-block-column > * {
        
        &:first-child {
          margin-top: 0;
        }
        
        &:last-child {
          margin-bottom: 0;
        }
      }
      
      &[class*='has-'] > * {
        &:last-child {
          margin-right: 0;
        }
      }
      
      &.alignfull,
      &.alignfull .wp-block-column {
        padding-left: var(--sizes--margin-m);
        padding-right: var(--sizes--margin-m);
      }
    }
  }
  
  //! Latest Comments
  .wp-block-latest-comments {
    
    .wp-block-latest-comments__comment-meta {
      font-family: var(--typography--title--font-family);
      font-weight: var(--typography--default--font-weight--bold);
      
      .wp-block-latest-comments__comment-date {
        font-weight: var(--typography--default--font-weight--regular);
      }
    }
    
    .wp-block-latest-comments__comment,
    .wp-block-latest-comments__comment-date,
    .wp-block-latest-comments__comment-excerpt p {
      font-size: inherit;
    }

    &.has-dates {
      
      .wp-block-latest-comments__comment-date {
        font-size: var(--typography--default--font-size--xs);
      }
    }
  }
  
  //! Font Sizes
  .has-small-font-size {
    font-size: var(--typography--default--font-size--s);
  }
  
  .has-normal-font-size {
    font-size: var(--typography--default--font-size--m);
  }

  .has-large-font-size {
    font-size: var(--typography--default--font-size--l);
  }
  
  .has-huge-font-size {
    font-size: var(--typography--default--font-size--xxl);
  }
}


