.entry-comments {
  clear: both;
  margin-top: var(--sizes--margin-m);
  padding-top: var(--sizes--margin-xl);
  border-top: 1px solid rgba(var(--wp--preset--color--black), 0.05);
  
  > p {
    font-size: var(--typography--default--font-size--l);
    margin-bottom: var(--sizes--margin-xl);
    font-weight: var(--typography--default--font-weight--light);
  }
  
  .navigation a {
    font-size: var(--typography--default--font-size--s);
    font-weight: var(--typography--default--font-weight--regular);
    color: var(--wp--preset--color--gray-dark);
  }
  
  p.comment-notes {
    font-size: var(--typography--default--font-size--s);
    font-style: italic;
    color: var(--wp--preset--color--gray-dark);
  }
  
  p.comments-closed,
  p.no-comments-yet {
    text-align: center;
    font-style: italic;
    font-weight: var(--typography--default--font-weight--bold);
  }
  
  p.logged-in-as {
    font-weight: var(--typography--default--font-weight--bold);
    float: right;
    font-size: var(--typography--default--font-size--s);
    line-height: 1;
    margin: 0;
  }
  
}

// commentlist variables
$comments__avatar-size: 64px;

.site-main ol.commentlist {
  padding-left: 0;
  padding-right: 0;
  
  ul,
  ol {
    padding: 0;
    margin-top: var(--sizes--margin-m);
    margin-bottom: var(--sizes--margin-m);
    list-style: none;
  }
  
  li {
    margin: 0;
    display: block;
    padding: var(--sizes--margin-m) 0 var(--sizes--margin-l) 0;
    
    li {
      padding-left: var(--sizes--margin-l);
    }
  }
  
  .avatar {
    line-height: 1;
    float: left;
    width: $comments__avatar-size;
    height: $comments__avatar-size;
    margin-right: $comments__avatar-size * .25;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .fn,
  .comment-author {
    height: $comments__avatar-size * .6;
    line-height: $comments__avatar-size * .66;
    a,
    b {
      color: var(--wp--preset--color--primary);
      font-size: var(--typography--default--font-size--xl);
    }
  }
  
  .comment-metadata {
    height: $comments__avatar-size * .4;
    line-height: 1;
  
    a {
      font-size: var(--typography--default--font-size--xs);
      color: var(--wp--preset--color--gray);
    }
  
    .comment-edit-link {
      opacity: 0;
      transition: $animations__lenght;
      background-color: var(--wp--preset--color--primary);
      margin-left: var(--sizes--margin-m);
      padding: var(--sizes--margin-xs) var(--sizes--margin-s);
      border-radius: var(--sizes--margin-m);
      color: var(--wp--preset--color--white);
    }
  }
  
  article:hover .comment-metadata .comment-edit-link {
    opacity: 1;
  }
  
  .comment-content {
    background: var(--wp--preset--color--white);
    border: 1px solid var(--wp--preset--color--white-smoke);
    padding: var(--sizes--margin-m);
    margin-left: $comments__avatar-size * 1.25;
    margin-top: var(--sizes--margin--);
  
    max-height: 800px;
    overflow-y: auto;
    
    * { max-width: 100%}
  }
  
  .reply {
    text-align: right;
    a {
      color: var(--wp--preset--color--gray-light);
      clear: both;
      padding: var(--sizes--margin-xs) var(--sizes--margin-s);
      border-radius: var(--sizes--margin-m);
      display: inline-block;
      line-height: var(--typography--default--line-height);
      margin-top: var(--sizes--margin-s);
      transition: $animations__lenght;
  
      &:hover {
        background-color: var(--wp--preset--color--primary);
        color: var(--wp--preset--color--white);
      }
    }
  }
  
}

#respond {
  position: relative;
  
  > small {
    display: block;
    font-size: var(--typography--default--font-size--m);
  }
  
  label {
    min-width: 100px;
    display: inline-block;
  }
  
  form {
    p {
      margin-bottom: var(--sizes--margin-m);
    }
    a {
      font-weight: var(--typography--default--font-weight--regular);
    }

  }

  input[type="text"], input[type="email"], input[type="url"] {
    width: 50%;
  }
  
  .comment-form-cookies-consent {
    display: flex;
    margin: var(--sizes--margin-m) 0;
    
    label {
      font-size: 14px;
      line-height: 1;
      margin-left: var(--sizes--margin--);
    }
  }
  
  .form-submit {
    margin-top: var(--sizes--margin-l);
    text-align: right;
  }
}


