.entry-comments {
  clear: both;
  margin-top: $size__padding * .75;
  padding-top: $size__padding;
  border-top: 1px solid darken($color__background-body, 5%);
  
  > p {
    font-size: 1.3em;
    margin-bottom: $size__padding;
    font-weight: 300;
  }
  
  .navigation a {
    font-size: 12px;
    font-weight: 400;
    color: $color__dark-grey;
  }
  
  p.logged-in-as {
    font-weight: 600;
    float: right;
    font-size: 13px;
    line-height: 20px;
    margin: -30px 0 0;
  }
  
}


$comments__avatar-size: 64px;

.commentlist {
  ul,
  ol {
    list-style: none;
  }
  
  li {
    margin: 0;
    display: block;
    padding: ($size__margin * 2) 0 ($size__margin * 4) ($size__margin * 4);
  }
  
  .avatar {
    line-height: 1;
    float: left;
    width: $comments__avatar-size;
    height: $comments__avatar-size;
    margin-right: $comments__avatar-size * .25;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .fn,
  .comment-author {
    height: $comments__avatar-size * .6;
    line-height: $comments__avatar-size * .66;
    a,
    b {
      color: $color__secondary;
      font-weight: 600;
      font-size: 23px;
    }
  }
  
  .comment-metadata {
    height: $comments__avatar-size * .4;
    line-height: 1;
  
    a {
      font-size: 12px;
      font-weight: 400;
      color: lighten($color__dark-grey, 20%);
    }
  
    .comment-edit-link {
      opacity: 0;
      transition: 350ms;
      background-color: $color__secondary;
      margin-left: $size__margin * 2;
      padding: ($size__margin * .5) ($size__margin * 1.5);
      border-radius: $size__margin * 2;
      color: $color__white;
      font-weight: 600;
    }
  }
  
  article:hover .comment-metadata .comment-edit-link {
    opacity: 1;
  }
  
  .comment-content {
    background: $color__white;
    border: 1px solid darken($color__white, 5%);
    padding: $size__padding * .25;
    margin-left: $comments__avatar-size * 1.25;
    margin-top: $size__margin;
  
    max-height: 800px;
    overflow-y: auto;
    
    * { max-width: 100%}
  }
  
  .reply {
    text-align: right;
    a {
      color: $color__light-grey;
      clear: both;
      padding: ($size__margin * .5) ($size__margin * 1.5);
      border-radius: $size__margin * 2;
      display: inline-block;
      line-height: 1.2;
      margin-top: $size__margin * 1.5;
      font-size: 14px;
      transition: $animations__lenght;
  
      &:hover {
        background-color: $color__secondary;
        color: $color__white;
      }
    }
  }
  
}

#respond {
  position: relative;
  
  > small {
    display: block;
    font-size: $text__size;
  }
  
  label {
    min-width: 100px;
    display: inline-block;
  }
  
  form p {
    margin-bottom: $size__margin * 2;
  }

  input[type="text"], input[type="email"], input[type="url"] {
    width: 50%;
  }
  
  .comment-form-cookies-consent {
    display: flex;
    margin: ($size__margin * 2) 0;
    
    label {
      font-size: 14px;
      line-height: 1;
      margin-left: $size__margin;
    }
  }
  
  .form-submit {
    margin-top: $size__margin * 2;
    text-align: right;
  }
}


