// Page Header
.site {
  .entry-header {
    width: var(--size--entry-title--width);
    max-width: 100%;

    @media #{$mq__smaller-than-tablet} {
      width: 100%;
    }
  }

  .has-sidebar & .entry-header {
    width: 100%;
  }

  .page-header {
    margin-bottom: var(--size--margin-xl);

    @media #{$mq__responsive-size_breakpoint} {
      margin-bottom: var(--size--margin-m);
    }
  }
}

// Page Title
.page-title,
.entry-title,
.has-title-color {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  &,
  a {
    color: var(--color--title);
  }
  @media #{$mq__responsive-size_breakpoint} {
    width: 100%
  }
}

.entry-header,
.woocommerce-products-header {
  
  display: block;
  width: 100%;
  max-width: var(--size--content--width-wide);
  text-align: center;
  margin: 0 auto var(--size--margin-m);

  @media #{$mq__responsive-size_breakpoint} {
    max-width: 100%;
    width: auto;
    padding-left: var(--size--responsive--side-margin);
    padding-right: var(--size--responsive--side-margin);
  }
  
  p {
    margin: 0 auto;
    width: var(--size--entry-title--width);
    line-height: var(--typography--line-height--wide);

    @media #{$mq__responsive-size_breakpoint} {
      width: auto;
    }

    &.breadcrumbs {
      width: 100%;
    }
  }
}