// Main Image

%website-width {
  // used for blocks sizes
  width: var(--size--content--width);
  max-width: 100%;
  
  box-sizing: border-box;
  padding-left: var(--size--responsive--side-margin);
  padding-right: var(--size--responsive--side-margin);
  margin: 0 auto var(--size--margin-l);
  
  @media #{$mq__smaller-than-tablet} {
    padding-left: var(--size--responsive--side-margin);
    padding-right: var(--size--responsive--side-margin);
  }
}

.main-width {
  
  @extend %website-width;
  
  &.alignwide {
    width: var(--size--content--width-wide);
    max-width: 100%;
  }
  
  &.alignfull {
    width: 100%;
  }
  
  .has-sidebar .site-content &.alignwide {
    width: 100%;
  }
  
}

.entry-image {
  img {
    width: 100%;
    height: 100%;
  }
}

.site-content {
  padding-top: var(--size--margin-l);
}

// if there isn't a featured image compensate void space under the menu
#masthead {
  
  + .site-content {
    padding-top: calc(var(--header--nav--height) + var(--size--margin-l));
    @media #{$mq__responsive_breakpoint} {
      padding-top: calc(var(--header--branding--height) + var(--size--margin-l));
    }
  }

  &.header-portrait + .site-content {
    padding-top: calc(var(--header--branding--height) + var(--header--nav--height) + var(--size--margin-l));
    @media #{$mq__responsive_breakpoint} {
      padding-top: calc(var(--header--branding--height) + var(--size--margin-l));
    }
  }

  
  body.has-featured-image & + .site-content {
    padding-top: var(--size--margin-l);
    @media #{$mq__responsive_breakpoint} {
      padding-top: 0;
    }
  }

}

body.has-sidebar,
body.woocommerce {
  
  &.sidebar-left .site-content {
    flex-direction: row-reverse;
  
    @media #{$mq__responsive_breakpoint} {
      flex-direction: column;
    }
  }
  
  &.has-featured-image .site-content {
    padding-top: var(--size--margin-xl);
  
    @media #{$mq__responsive_breakpoint} {
      padding-top: var(--size--responsive--side-margin);
    }
  }
  
  .site-content {
    display: flex;
    justify-content: center;

    width: var(--size--content--width-wide);
    max-width: 100%;

    box-sizing: border-box;
    margin: 0 auto;

    @media #{$mq__responsive_breakpoint} {
      width: 100%;
      flex-direction: column;
    }
  
    .content-area {
      width: calc(100% - ( var(--size--sidebar--width) + var(--size--sidebar--side-margin)) );
      @media #{$mq__responsive_breakpoint} {
        width: 100%;
      }
    }
  }
}

/* Block styles */
.wp-block-group {
  .has-background {
    padding: var(--size--margin-l);
  }
}

.site .wp-block-group__inner-container > *,
.site .entry-content > * {

  @extend %website-width;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    clear: both;
  }

  &.alignclose {
    margin-top: 0;
    margin-bottom: 0;

    &.has-media-on-the-right.padded-image img {
      margin-right: var(--size--margin-xl);
      margin-left: 0;
    }
  }

  &.alignwide {
    width: 100%;
    max-width: var(--size--content--width-wide);
    padding-left: var(--size--margin--);
    padding-right: var(--size--margin--);
    clear: both;
  }

  &.alignfull {
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    clear: both;
  }

  &.alignleft {
    float: left;
    width: auto;
    max-width: calc(var(--size--content--width) + var(--size--content--side-padding));
    margin-top: 0;
    margin-bottom: 0;
    padding-left: var(--size--margin--);
    padding-right: var(--size--margin--);
  }

  &.alignright {
    float: right;
    width: auto;
    max-width: calc(var(--size--content--width) + var(--size--content--side-padding) );
    margin-top: 0;
    margin-bottom: 0;
    padding-left: var(--size--margin--);
    padding-right: var(--size--margin--);
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media #{$mq__tablet} {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media #{$mq__tablet} {
      margin-left: auto;
      margin-right: auto;
    }
  }
}