div#cookielaw {
  position: fixed;
  bottom: 0;
  z-index: 10000000;
  transition: $animations__lenght * 2;
  opacity: 0;
  transform: translateY(200%);
  
  width: 100%;
  box-sizing: border-box;
  padding: $size__margin $size__padding-resp;
  margin: 0;
  
  background-color: $color__dark-grey;
  
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  p {
    color: $color__light-grey;
    text-align: center;
    font-size: 13px;
  }

  a {
    color: invert($color__secondary);
    text-decoration: underline;
    font-weight: 600
  }
  
  i {
    color: $color__light-grey;
    cursor: pointer;
    display: block;
    text-align: right;
    margin-bottom: -16px;
  }
  
  button {
    background-color: invert($color__secondary);
    margin: $size__margin auto;
    display: block;
    font-size: 13px;
    padding: 6px 12px;
  }
}
