// Metas
.entry-footer {
  clear: both;
  & > div {
    padding-top: $size__padding;
  }
}

.page-links {
  clear: both;
  padding-top: $size__padding;
}

.post-meta {
  .meta-wrapper {
    display: inline-flex;
    
    p {
      color: $color__dark-grey;
      font-size: $text__size - 4;
      font-weight: 300;
      margin-bottom: 0;
      margin-left: $size__margin;
      margin-right: $size__margin;
      
      @media #{$mq__smaller-than-tablet} {
        font-size: $text__size - 6;
      }
    }
    
    a {
      color: $color__dark-grey;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

p.breadcrumbs {
  font-size: $text__size - 6;
  margin-bottom: $size__margin;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: lighten($color__dark-grey, 40%);
  
  a {
    color: $color__dark-grey;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: $size__margin * .5;
    margin-right: $size__margin * .5;
    transition: $animations__lenght;
    opacity: .5;
    
    &:last-of-type {
      opacity: .8;
    }
    
    &:hover {
      opacity: 1;
    }
    
  }
}




.relateds {
  $image-size: 150px;
  
  ul.relateds-list {
    margin: 0;
    padding: 0;
    
    li {
      display: block;
      padding: 0;
      margin: $size__margin 0 ($size__padding * .75);
      clear: both;
      font-weight: 400;
    
      p {
        margin: 0;
        font-size: .9em;
        font-weight: 400;
      }
    
      img {
        float: left;
        clear: both;
        width: $image-size;
        margin-right: $size__padding-resp;
        margin-bottom: $size__padding-resp;
        max-height: $image-size;
        @media #{$mq__smaller-than-tablet} {
          width:  $image-size * .5;
          margin-right: $size__padding-resp * .5;
          margin-bottom: $size__padding-resp * .5;
        }
      }
    }
  }
}

// Post Navigation
.navigation {
  display: flex;
  flex-wrap: wrap;
  
  a {
    line-height: 1.2;
    font-weight: 500;
    display: inline-table;
    vertical-align: baseline;
    width: calc(100% - 30px);
    @media #{$mq__smaller-than-tablet} {
      font-size: 90%;
    }
  }
  
  > * {
    flex-basis: 50%;
    flex-shrink: 0;
  }
  
  .alignright {
    text-align: right;
  }
  
}

// the archive navigation
.nav-links {
  flex-basis: 100%;
  text-align: center;
  margin-top: $size__padding * .5;
  
  * {
    margin: 0 $size__margin;
  }
  
  .page-numbers {
    $pagenumber__size: 36px;
    
    display: inline-block;
    padding: 0 ($pagenumber__size * .20);
    width: $pagenumber__size;
    height: $pagenumber__size;
    vertical-align: middle;
    box-sizing: border-box;
    
    font-weight: 600;
    line-height: $pagenumber__size;
    
    border-radius: $pagenumber__size * .5;
    background-color: $color__light-grey;
    color: darken($color__light-grey, 20%);
    transition: $animations__lenght;
    
    &.current,
    &:hover {color: $color__dark-grey;}
    
    &.next,
    &.prev {
      width: auto;
    }
    
  }
}

.post-navigation {
  .navigation {
    margin-top: $size__margin * 2;
    & > div {
      height: 60px;
    }
    i {vertical-align: middle;}
  }
}

.category-list-labels {
  padding-top: $size__padding * .5;
  ul, li {
    display: inline-block;
  }
  
  li {
    background: $color__white;
    border-radius: 15px;
    border: 1px solid $color__light-grey;
    width: auto;
    height: 30px;
    line-height: 26px;
    position: relative;
    margin: 0 10px 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
  
    a {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $color__dark-grey;
      text-decoration: none !important;
      transition: 0.2s;
    }
  
    &:hover {
      a {
        filter: brightness(115%);
      }
    }
  }
}

// Extra
.wp-block-separator,
hr {
  border: none;
  border-bottom: 1px solid transparentize($color__secondary, .6);
}

.sticky {
  background-color: transparent;
  h1, h2 { color: $color__primary;}
}


// Hero
body .hero {
  width: 100%;
  height: 72vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  background-color: $color__nav-background;
  
  @media #{$mq__smaller-than-tablet} {
    height: 80vh;
    min-height: inherit;
  }
  
  &.fullpage-hero {
    height: 100vh;
    max-height: 100vh;
    
    .entry-image {
      max-height: 1200px;
    }
  }
  
  & > * {
    position: relative;
  }
  
  .entry-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 700px;
    @media #{$mq__smaller-than-tablet} {
      max-height: inherit;
    }
  }
  
  .hero-title {
    padding-top: $size__nav-height;
    padding-left: $size__padding-resp;
    padding-right: $size__padding-resp;
    
    .background-text {
      width: 50%;
      padding-left: 25%;
      padding-right: 25%;
      
      position: absolute;
      top: -50%;
      left: 0;
  
      font-weight: 900;
      font-size: 7vw;
      text-stroke: 1px $color__white;
      letter-spacing: 0.4em;
      -webkit-text-stroke: 1px transparentize($color__white, .5);
      color:transparent;
    }
    
    h1, p {
      text-shadow: 0 2px 4px transparentize($color__black, 0.3);
      color: $color__white;
    }
    
    h1 {
      font-size: 64px;
      font-weight: 700;
      margin: 0 auto;
      
      @media #{$mq__smaller-than-tablet} {
        font-size: 44px;
        width: 100%;
      }
      @media #{$mq__smartphone} {font-size: 36px;}
      @media #{$mq__smallphone} {font-size: 30px;}
    }
    
    p {
      font-size: 19px;
      font-style: italic;
      @media #{$mq__smaller-than-tablet} {
        font-size: 17px;
        line-height: $text__line-height-headline;
      }
      @media #{$mq__smallphone} {font-size: 15px;}
    }
    
    a {
      margin-top: 32px;
      @media #{$mq__smaller-than-tablet} {
        font-size: 17px;
        padding: 10px 16px;
      }
    }
    
  }
}