.site-footer {
  background: $color__primary;
  margin-top: $size__padding * 1.5;
  clear: both;
  
  h3,
  p,
  a {color: $color__white;}
  
 
  h3 {
    padding-top: $size__padding * .5;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 28px;
    border-bottom: 1px solid transparentize($color__black, .9);
  
    @media #{$smaller-than-tablet} {
      padding-top: 0;
      font-size: 22px;
    }
  }
  
  .footer-widgets {
    padding-top: $size__padding;
    padding-bottom: $size__padding * .5;
    display: flex;
    flex-flow: wrap;
    
  
    @media #{$smaller-than-tablet} {
      flex-direction: column-reverse;
      width: 100%;
    }
    
    .widget {
      flex-grow: 1;
      box-sizing: content-box;
      padding-left: $size__padding;
  
      @media #{$smaller-than-tablet} {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: $size__padding * .5;
      }
  
      &:first-of-type {
        flex-shrink: 0;
        flex-grow: 2;
        flex-basis: 300px;
        padding-left: 0;
        padding-right: $size__padding * 2;
  
        @media #{$smaller-than-tablet} {
          padding-top: $size__padding * .5;
          padding-bottom: 0;
        }
  
        b,
        strong{
          color: $color__dark-grey;
          font-size: 24px;
        }
  
        a {color: $color__dark-grey;}
        
        img {max-width: 300px}
      }
    }
    
    
    ul {
      padding: 0;
      margin: 0;
    }
    
    li {
      display: block;
      padding:0;
      
      a {}
      .post-date {
        font-size: 13px;
        margin-left: $size__margin;
        color: transparentize($color__white, .5);
      }
    }
  }

  
  .footer-credits {
    background-color: $color__black;
    padding: $size__margin 0;
    
    @media #{$larger-than-tablet} {
      text-align: right;
    }
    
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 12px;
    }
  }
}