.site-footer {
  margin-top: var(--size--margin-xl);
  clear: both;

  li,
  p {
    font-size:var(--typography--font-size--m);
    line-height:var(--typography--line-height--wide);
    @media #{$mq__smaller-than-tablet} {
      font-size:var(--typography--font-size--s);
    }
  }

  h1,
  h2,
  h3,
  h4,
  .widget-title {
    color: var(--footer--text-color);
    white-space: nowrap;
    padding-bottom: var(--size--margin--);
    margin-bottom: var(--size--margin-m);
    font-size:var(--typography--font-size--l);
    font-weight: var(--typography--title--font-weight);

    @media #{$mq__smaller-than-tablet} {
      font-weight: var(--typography--font-size--m);
    }
  }

  .widget-title {
    border-bottom: 1px solid rgba( var(--wp--preset--color--black--decimal), .25);
  }

  .has-footer-text-color,
  a,
  b,
  li,
  p {
    color: rgba( var(--footer--text-color-decimal), .9);
  }

  .footer-widgets {
    padding-top: var(--size--margin-xl);
    padding-bottom: var(--size--margin-l);
    display: flex;
    justify-content: flex-end;
    
    @media #{$mq__smaller-than-tablet} {
      padding-top: var(--size--margin-l);
      padding-bottom: var(--size--margin-s);
      flex-direction: column-reverse;
      width: 100%;
    }
    
    ul {
      padding: 0;
      margin: 0;
      ul {
        margin-left: var(--size--margin--);
      }
    }
    
    li {
      line-height: 2.2;
      padding: 0;
      margin: 0;
      @extend .ellipsis;
      
      a {
        font-weight: var(--typography--text--regular);
      }
      
      .post-date {
        font-size: var(--typography--font-size--xs);
        margin-left: var(--size--margin--);
        opacity: .5;
      }
    }
  }
  
  .widget {
    flex: 1 1 0;
    box-sizing: content-box;
    width: 100%;
    margin-right: var(--size--margin-xl);
    max-width: var(--size--footer-widget--width);

    @media #{$mq__smaller-than-tablet} {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-bottom: var(--size--margin-l);
      max-width: inherit;
    }
    
    &:first-of-type {margin-left: 0;}
    
    &:last-of-type {margin-right: 0;}
    
    &.credits {
      flex-grow: 2;
      padding-right: var(--size--margin-xl);
      margin-right: auto;
      width: 100%;
      max-width: calc( var(--size--sidebar--width) * 1.3);
      justify-self: flex-start;
      
      @media #{$mq__smaller-than-tablet} {
        margin: 0;
        padding-top: var(--size--margin-l);
        padding-bottom: 0;
      }
  
      img {
        max-width: var(--header--branding--max-width);
        max-height: 100px;
        width: 100%;
        object-fit: contain;
        object-position: left;
        padding-bottom: var(--size--margin-s);
      }
    }
    
  }
  
  .footer-info {
    padding: var(--size--margin--) 0;
    
    @media #{$mq__larger-than-tablet} {
      text-align: right;
    }
    
    p {
      line-height: 2.2;
      margin-top: 0;
      margin-bottom: 0;
      font-size: var(--typography--font-size--xs);
    }
  }
  
}