$nav__background: $color__dark-grey;

#masthead {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: $nav__background;
  transition: $animations__lenght;
  
  @media #{$tablet-portrait} {
    height: $head__height-responsive;
  }
  
  .scrolled & {
    box-shadow: 0 3px 8px -4px  transparentize($color__black, 0.5);
  
    @if($head__direction == column) {
      transform: translateY(-$size__branding-height);
    }
  }
  
  .admin-bar & {
    top: 32px; // the wordpress admin bar height
  
    @media screen and (max-width: 600px) {
      top: 0;
    }
  }

  // todo: make the content under the header only if is and image
  & + div {
    
    @if($head__direction == column) {
      padding-top: $nav__height + $size__branding-height;
    } @elseif($head__direction == row) {
      padding-top: $nav__height;
    }
  
    body.page .entry-image,
    body.single .entry-image,
    .website-hero {
      @if($head__direction == column) {
        margin-top: ($nav__height + $size__branding-height) * -1;
      } @elseif($head__direction == row) {
        padding-top: $nav__height * -1;
      }
      
    }
    
  }
  
  .site-branding-container {
    display: flex;
    flex-direction: $head__direction;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;

    @media #{$tablet-portrait} {height: 100%;}

    .site-branding {
      width: 100%;
      @if($head__direction == row) {
        padding-top: $size__margin;
        padding-bottom: $size__margin;
      }
  
      @if($head__direction == column) {
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
  
    
    // IF NO CUSTOM LOGO
    .site-title,
    .site-description {
      @if ($head__direction == row) {
        display: inline-block;
      }
      margin: 0;
      line-height: 1;
    }
    
    .site-title {
      font-size: 26px;
      a {color: $color__primary;}
    }

    .site-description {
      display: inline-block;
      color: white;
      font-weight: 300;
      font-size: 11px;
    }
  
    // IF CUSTOM LOGO
    .site-logo {
      box-sizing: border-box;
  
      @media #{$tablet-portrait} {
        height: $head__height-responsive;
        max-width: 60%;
      }
    }
    
    .custom-logo-link {
      display: flex;
      height: 100%;
    }

    .custom-logo {
      object-fit: contain;
  
      @if($head__direction == row) {
        max-height: $nav__height - ($size__margin * 2) ;
        object-position: left;
      }
      
      @media #{$tablet-portrait} {
        max-height: 100%;
      }
      
    }
    
    
  }
 
}