#masthead {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: $color__nav-background;
  transition: $animations__lenght;
  
  @media #{$smaller-than-tablet} {
    height: $head__height-responsive;
    transform: inherit !important;
  }
  
  .scrolled & {
    box-shadow: 0 3px 8px -4px  transparentize($color__black, 0.5);
  
    @if($head__direction == column) {
      transform: translateY(-$size__branding-height);
    }
  }

  // todo: make the content under the header only if is and image
  & + div {
    
    @if($head__direction == column) {
      padding-top: $nav__height + $size__branding-height;
    } @elseif($head__direction == row) {
      padding-top: $nav__height;
    }
  
    @media #{$smaller-than-tablet} {
      padding-top: $head__height-responsive;
    }
  
    body.page .entry-image,
    body.single .entry-image,
    .website-hero {
      @if($head__direction == column) {
        margin-top: ($nav__height + $size__branding-height) * -1;
      } @elseif($head__direction == row) {
        margin-top: $nav__height * -1;
      }
  
      @media #{$smaller-than-tablet} {
        margin-top: $head__height-responsive * -1;
      }
      
    }
    
  }
  
  .site-branding-container {
    display: flex;
    flex-direction: $head__direction;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;

    @media #{$smaller-than-tablet} {height: 100%;}

    .site-branding {
      width: 100%;
      
      @if($head__direction == row) {
        padding-top: $size__margin;
        padding-bottom: $size__margin;
      }
  
      @if($head__direction == column) {
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
  
      @media #{$smaller-than-tablet} {
        text-align: left;
        width: calc(100% - #{$hamburger__size * 1.5} )
      }
      
    }
  
    
    // IF NO CUSTOM LOGO
    .site-title,
    .site-description {
      @if ($head__direction == row) {
        display: inline-block;
      }
      margin: 0;
      line-height: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .site-title {
      font-size: 26px;
      a {color: $color__primary;}
    }

    .site-description {
      display: inline-block;
      color: white;
      font-weight: 300;
      font-size: 11px;
    }
  
    // IF CUSTOM LOGO
    .site-logo {
      box-sizing: border-box;
  
      @media #{$smaller-than-tablet} {
        height: $head__height-responsive;
        max-width: 60%;
      }
    }
    
    .custom-logo-link {
      display: flex;
      height: 100%;
    }

    .custom-logo {
      object-fit: contain;
  
      @if($head__direction == row) {
        max-height: $nav__height - ($size__margin * 2) ;
        object-position: left;
      } @elseif($head__direction == column) {
        height: 60%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
      }
      
      @media #{$smaller-than-tablet} {
        max-height: 100%;
      }
    }
 
    
  }
}


// the wordpress admin bar fix
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
    top: -46px;
  }
}

.admin-bar #masthead {
  top: 32px;
  @media screen and (max-width: 782px) { top: 46px; }
}