#masthead {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: $color__nav-background;
  transition: $animations__lenght;
  
  @media #{$mq__smaller-than-tablet} {
    height: $head__height-responsive;
    transform: inherit !important;
  }
  
  .scrolled & {
    box-shadow: 0 3px 8px -4px  transparentize($color__black, 0.5);
  
    @if($head__direction == column) {
      transform: translateY(-$size__branding-height);
    }
  }
  
  .site-header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -$size__side-padding;
    opacity: 0.1;
  }
  
  // the container of the logo/site title
  .site-branding-container {
    display: flex;
    flex-direction: $head__direction;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;

    @media #{$mq__smaller-than-tablet} {height: 100%;}

    .site-branding {
      width: 100%;
      @if($head__direction == row) {
        padding-top: $size__margin;
        padding-bottom: $size__margin;
      }
      @if($head__direction == column) {
        height: $size__branding-height;
 
        .header-text {
          justify-content: center;
          text-align: center;
        }
      }
      
      &.has-header-text.has-custom-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        .header-text {text-align: left;}
    
        .site-logo {
          margin-right: $size__margin * 2;
      
          @media #{$mq__phablet} {
            width:auto;
            text-align: center;
          }
        }
      }
      
      .header-text {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
  
      @media #{$mq__smaller-than-tablet} {
        text-align: left;
        width: calc(100% - #{$hamburger__size * 1.5} )
      }
      
    }
    
    // Site title & description (no custom logo)
    .site-title,
    .site-description {
      @if ($head__direction == row) {
        display: inline-block;
      }
      margin: 0;
      line-height: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .site-title {
      font-size: 26px;
      a {color: $color__primary;}
    }

    .site-description {
      display: inline-block;
      color: white;
      font-weight: 300;
      font-size: 11px;
    }
  
    // Custom logo
    .has-custom-logo .site-logo {
      height: 100%;
      box-sizing: content-box;
  
      @media #{$mq__smaller-than-tablet} {
        height: $head__height-responsive - ($size__margin * 2);;
        max-width: 60%;
      }
    }
    
    .custom-logo-link {
      display: flex;
      height: 100%;
      align-items: center;
    }

    .custom-logo {
      object-fit: contain;
      height: $size__branding-logo-ratio;
  
      @if($head__direction == row) {
        object-position: left;
      } @elseif($head__direction == column) {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
      }
      
      @media #{$mq__smaller-than-tablet} {
        max-height: $head__height-responsive - ($size__margin * 2);
        object-position: left;
      }
    }
    
  }
}


// the wordpress admin bar fix
@media screen and (max-width: 600px) {
 #wpadminbar {
   position: fixed !important;
   top: -46px;
 }
}

.admin-bar #masthead {
  top: 32px;
  @media screen and (max-width: 782px) { top: 46px; }
}



// This will create the folding effect of the featured image under the header
#masthead + div {
  @if($head__direction == column) {
    padding-top: $nav__height + $size__branding-height;
  } @elseif($head__direction == row) {
    padding-top: $nav__height;
  }
  
  @media #{$mq__smaller-than-tablet} {
    padding-top: $head__height-responsive;
  }
}

body.has-featured-image .site-content {
  @if($head__direction == column) {
    margin-top: ($nav__height + $size__branding-height) * -1;
  } @elseif($head__direction == row) {
    margin-top: $nav__height * -1;
  }
  
  @media #{$mq__smaller-than-tablet} {
    margin-top: $head__height-responsive * -1;
  }
}

body.woocommerce .site-content {
  margin-top: 0;
}