$nav_padding: 0 ($size__margin * 4);
$nav_padding_resp: 0 ($size__margin * 3);

.main-navigation {
  
  @media #{$mq__responsive_brekpoint} {
    overflow-y: auto;
  }
  
  // THE MAIN LEVEL MENU
  .main-menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  
    @media #{$mq__responsive_brekpoint} {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
 
  ul {
    display: flex;
    justify-content: center;
    height: $size__nav-height;
    margin: 0;
    padding: 0;
 
    @media #{$mq__responsive_brekpoint} {
      display: block;
      max-width: 100%;
    }
  }
  
  li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  
    a {
      display: block;
      white-space: nowrap;
      height: $size__nav-height;
      line-height: $size__nav-height;
      padding: $nav_padding;
      box-sizing: border-box;
  
      font-weight: 600;
      text-decoration: none !important;
      opacity: .8;
      transition: $animations__lenght;
      
      &:hover {opacity: 1;}
  
      @media #{$mq__laptop} {
        padding: $nav_padding_resp;
      }
  
      @media #{$mq__responsive_brekpoint} {
        height: auto;
        line-height: $size__nav-responsive-line-height;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      
    }
  
    @media #{$mq__responsive_brekpoint} {
      li a {
        font-weight: 400;
        opacity: .7;
        line-height: $size__nav-height * .66;
      }
    }
  
    &.current-menu-item,
    &.current-menu-ancestor,
    &.current-menu-parent {
      a {
        opacity: 1;
      }
    }
  }
  
  // THE SUBMENUS
  .menu > li {
    
    &:first-child a {
      padding-left: 0;
    }
    
    &:last-child a {
      padding-right: 0;
    }
   
    li a {
      padding: $nav_padding !important;
      @media #{$mq__responsive_brekpoint} {
        padding: 0!important;
      }
    }
    
    a {
      line-height: 2.5;
      height: inherit;
      @media #{$mq__responsive_brekpoint} {
        padding: 0;
      }
    }
  
    @media #{$mq__responsive_brekpoint} {
      .sub-menu {
        padding-left: $size__margin *2;
      }
    }
    
  }
  
  .menu-shadow {
    display: none;
  }
  
  @media #{$mq__responsive_brekpoint} {
    background-color: darken($color__nav-background, 5%);
    height: 100vh;
    padding: $size__nav-height $size__padding-resp ($size__padding-resp * 1.5);
    // if you want to append the menu to the edge of the header
    // height: calc(100vh - #{$size__nav-height});
    // padding: ($size__padding-resp * 1.5) $size__padding-resp;
    z-index: 1020;
    width: 90%;
    max-width: $size__responsive-menu-width;
    box-sizing: border-box;
    transform: translateX(100%);
    right: 0;
    
    & + .menu-shadow,
    & {
      position: absolute;
      top: 0;
      // if you want to append the menu to the edge of the header
      // top: $size__nav-height;
      bottom: 0;
      transition: 350ms;
      transition-delay: 50ms;
    }
    
    & + .menu-shadow {
      display: block;
      height: 100vh;
      width: 100%;
      opacity: 0;
      right: 100%;
      background-color: transparentize($color__black, .5);
      transition: 200ms opacity;
      transform: translateX(0) !important;
    }
  }
  
  @media #{$mq__responsive-size_brekpoint} {
    
    height: calc(100vh - #{$head__height-responsive});
    padding: ($size__padding-resp * 1.5) $size__padding-resp;
    
    & + .menu-shadow,
    & {
      top: $head__height-responsive;
    }
    
  }
  
}

@media #{$mq__responsive_brekpoint} {
  #masthead {
    
    &.active {
      .main-navigation {
        transform: translateX(0);
      }
    
      .main-navigation + .menu-shadow {
        opacity: 1;
        right: 0;
      }
    }
  }
}

body ul.sub-menu {
  position: absolute;
  z-index: 1010;
  flex-direction: column;
  top: 100%;
  left: 0;
  opacity: 0;
  clip: rect(0 0 0 0);
  width: auto;
  height: auto;
  padding: 0;
  overflow: hidden;

  transition: $animations__lenght * .5;
  transition-delay: 0ms;
  
  @media #{$mq__responsive_brekpoint} {
    position: inherit;
    opacity: 1;
    background-color: transparent !important;
    padding-left: $size__padding-resp * .5;
  }

  ul.sub-menu {
    top: 0;
    left: 100%;
  
    @media #{$mq__responsive_brekpoint} {
      position: inherit;
      left: inherit;
      background-color: transparent;
    }
  }
  
  &:focus-within,
  li a:focus + &,
  &.active {
    transition: $animations__lenght ease-out;
    transition-delay: 100ms;
    clip: inherit;
    overflow: visible;
    opacity: 1;
  }
}
