#secondary {
  
  min-width: $sidebar__width;
  width: $sidebar__width;
  padding: 0 $size__padding-resp;
  box-sizing: border-box;

  .search-form {
    max-width: 100%;
  }
  
  @media #{$mq__larger-than-tablet} {
    padding: 0;
    .sidebar-right & {padding-left: $sidebar__margin;}
    .sidebar-left & {padding-right: $sidebar__margin;}
  }
  
  @media #{$mq__responsive_brekpoint} {
    padding-top: ($size__padding-resp * 2);
    border-top: 1px solid #eee;
    min-width: inherit;
    width: 100%;
  }
  
  section {
    padding-bottom: $size__padding * .75;
  }
  
  h3 {
    margin: 0 0 $size__margin * .5;
    font-size: 20px;
    font-weight: 600;
  }
  
  a {
    font-weight: 500;
    font-size: $text__size - 1;
  }
}