#secondary {
  min-width: $sidebar__width;
  width: $sidebar__width;
  
  @if ($sidebar__position = 'right') {
    padding-right: $sidebar__margin;
  } @else {
    padding-left: $sidebar__margin;
  }
  
  @media #{$mq__smaller-than-tablet} {
    min-width: inherit;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  
  section ul {
    list-style-type: none;
    margin: ($size__padding * .25) 0;
    padding-left: 0;
    ul {
      padding-left: $size__padding * .25;
    }
  }
  
  h3 {
    margin: $size__padding 0 $size__margin;
    font-size: 20px;
    font-weight: 600;
  }
  
  a {
    font-weight: 600;
    font-size: 16px;
  }
  
  ul {
    margin: ($size__margin * 2) 0;
  }
}