#secondary {
  
  min-width: $sidebar__width;
  width: $sidebar__width;
  
  @media #{$mq__larger-than-tablet} {
    .sidebar-right & {padding-left: $sidebar__margin;}
    .sidebar-left & {padding-right: $sidebar__margin;}
  }
  
  @media #{$mq__smaller-than-tablet} {
    min-width: inherit;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  
  section {
    padding-bottom: $size__padding * .75;
  }
  
  h3 {
    margin: 0 0 $size__margin * .5;
    font-size: 20px;
    font-weight: 600;
  }
  
  a {
    font-weight: 500;
    font-size: $text__size - 1;
  }
}