// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.hide {
  display: none;
}

.unselectable::selection {
  background-color: transparent;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis { @include ellipsis }

%elevation--01 {
  box-shadow: 0 2px 10px -6px rgba( var(--wp--preset--color--black--decimal), .8);
}

%text_shadow--01 {
  text-shadow: 0 1px 2px rgba( var(--wp--preset--color--black--decimal), .3);
}
