html,
body {
  margin: 0;
  padding: 0;
}

html {
  /* ios viewport bug fix */
  height: calc( var(--vh, 1vh) * 100 );
  max-width: 100%;
  -webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	touch-action: none
}

body {
	position: relative;
  min-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

#page {
  overflow-x: hidden;
}
