%input_model {
	background-color: var(--wp--preset--color--background);
	color: var(--wp--preset--color--text);
	outline: none !important;
	border: 1px solid var(--wp--preset--color--gray-light);
	font-family: var(--typography--font--default);
	font-size: var(--wp--preset--font-size--default);
	font-weight: var(--typography--font--default--regular);
	box-sizing: border-box;
	border-radius: 4px 4px 0 0;
	padding: 12px 8px;
	transition: 350ms;
	margin: 0 0 var(--wp--preset--spacing--40);
	line-height: var(--wp--custom--line-height--medium);

	&:focus,
	&:hover {
		box-shadow: 0 1px 0 var(--wp--preset--color--primary);
	}
}

select,
.choices__inner,
textarea,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="password"],
input[type="tel"] {

	@extend %input_model;
	padding-left: var(--wp--preset--spacing--40);
	padding-right: var(--wp--preset--spacing--40);
	box-shadow: 0 0 0 var(--wp--preset--color--gray-light);
}

.choices__input {
	background: var(--wp--preset--color--background);
}

[type="checkbox"],
[type="radio"] {
	margin: 0;
	display: inline;
	vertical-align: middle;
}

.input-label {
	font-size: var(--wp--preset--font-size--extra-small);
}

form label {
	color: var(--wp--preset--color--gray-dark);
	font-size: calc(var(--wp--preset--font-size--medium) - 1px);

	input + span {
		opacity: 0.8;
	}

	input:not(button):not(input[type="submit"]):not(input[type="checkbox"]):not(input[type="radio"]) {
		width: 100%;
	}
}

textarea {
	display: block;
	min-width: 100%;
	max-width: 100%;
	min-height: 160px;
	overflow: hidden;
}

select,
fieldset {
	width: 100%;
}

.wpcf7-submit {
	border: 2px solid;
	background-color: transparent;
	color: var(--wp--preset--color--foreground);
	margin-top: var(--wp--preset--spacing--50);
	margin-left: auto;
	float: right;
	padding: 0.667em 1.333em;
	background-image: none;
	font-family: var(--wp--preset--font-family--default);
	font-size: var(--wp--preset--font-size--default);
	font-style: normal;
	font-weight: var(--typography--font--default--bold);
	letter-spacing: 0.1em;
	line-height: var(--wp--custom--line-height--small);
	text-transform: uppercase;

	&:disabled {
		color: var(--wp--preset--color--gray);
		border-color: var(--wp--preset--color--gray-light);
	}
}
