::-webkit-scrollbar {
	$scrollbar-border-radius: 2px;

  position: relative;
  z-index: 100000;
  width: 12px;
  height: 12px;
  @media #{$mq__tablet-portrait}{
    width: 6px;
  }


  &-track {
    &-piece,
    & {
      background-color: var(--color--gray-light);
      -webkit-box-shadow: inset 0 0 6px rgba(var(--color--black--decimal), 0.1);
    }
  }


  &-thumb,
  &-thumb:vertical,
  &-thumb:horizontal {
    background-color:var(--color--secondary);
    border-radius: $scrollbar-border-radius;
    -webkit-box-shadow: inset 0 0 6px rgba(var(--color--black--decimal), 0.15);
  }

  &-button {
    width: 0;
    height: 0;

    &:start:decrement,
    &:end:increment {
      height: 0;
      width: 0;
      display: block;
      background-color: var(--color--gray-light);
    }
  }

  &-corner {
    background-color: var(--color--gray-light);
  }
}

