.wp-block-search {
	&__input {
		border-radius: 4px 0 0 4px;
	}

	&__button {
		margin-left: 0;
		border-radius: 0 4px 4px 0;
	}
}
:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
	padding: 0;
}
.wp-block-search__button.has-icon {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 5px;
}
