/* Headlines */
body {
	color: var(--wp--preset--color--text);
	word-break: break-word;
}

%headline_style {
	font-family: var(--typography--font--title);
	font-weight: var(--typography--font--title-bold);
}

ul, ol, dl {
	margin-top: var(--wp--preset--spacing--50);
	margin-bottom: var(--wp--preset--spacing--50);
	padding: 0;

	li, dt, dd {
		line-height: var(--wp--custom--line-height--medium);
		margin: 0;
	}
}
