/* wp-site-blocks is the "body" of the frontend webpages */
.wp-site-blocks {
	word-break: break-word;

	ul,
	ol,
	dl {
		margin-top: var(--wp--preset--spacing--50);
		margin-bottom: var(--wp--preset--spacing--50);
		padding: 0;

		li,
		dt,
		dd {
			line-height: var(--wp--custom--line-height--medium);
			margin: 0;
		}
	}

	table {
		width: 100%;
		max-width: 100%;

		tr {
			border-collapse: collapse;
		}
	}
}
