body.archive {
  
  $archive__image-height: $size__padding * 3;
  
  .site-main {
   .article-container:nth-child(2n + 2) {
     background: darken($color__white, 10%);
   }
  }

  article {
    display: flex;
    margin: 0 auto;
    padding-top: $size__padding;
    padding-bottom: $size__padding;
    min-height: $archive__image-height;
    
    .entry-image {
      width: 30%;
      margin-right: $size__padding;
      img {
        height: $archive__image-height;
        object-fit: cover;
      }
    }
    
    .entry-header {
      padding-top: 0;
    }
  
    .entry-title {
      font-size: 32px;
      margin: 0 0 $size__margin;
      text-align: left;
    }
    
    .entry-content {
      width: 100%;
      p {
        margin: 0;
        padding: 0;
      }
    }
 
  }
}