body.search-results,
body.archive {
  
  // background mask of the article
  .site-main {
    .article-container {
      
      &:nth-child(2n + 2) {
        position: relative;
        &:before {
          display: block;
          position: absolute;
          z-index: 1;
          transform: rotate(-1deg);
          top: 0;
          bottom: 0;
          left: -100px;
          right: -100px;
          content: '';
          background-color: rgba(var(--wp--preset--color--black--decimal), .05);
        }
      }
      
      
      @media #{$mq__smaller-than-tablet} {
        &:first-of-type {
          .entry-image {
            display: none !important;
          }
        }
      }
      
    }
  }

  article {
    display: flex;
    margin: 0 auto;
    padding: var(--sizes--margin-xl) 0;
    min-height: 100px;
    position: relative;
    z-index: 2;
  
    @media #{$mq__smaller-than-tablet} {
      flex-direction: column;
      padding: var(--sizes--margin-l) var(--sizes--responsive--side-margin);
    }
  
    .article-wrapper {
      max-width: 100%;
      width: 100%;
    }
    
    .entry-image {
      $archive_image: 280px;
      min-width: $archive_image;
      max-width: $archive_image;
      margin-right: var(--sizes--margin-l);
  
      @media #{$mq__smaller-than-tablet} {
        width: calc(100% + var(--sizes--margin-xl) * 2);
        min-width: inherit;
        max-width: calc(100% + var(--sizes--margin-xl) * 2);
        margin: calc(var(--sizes--margin-l) * -1) calc(var(--sizes--margin-xl) * -1) var(--sizes--responsive--side-margin);
        img {
          transform: rotate(-1deg);
        }
      }
  
      + .article-wrapper {
        min-width: calc( 100% - #{$archive_image} + var(--sizes--margin-l) );
        @media #{$mq__smaller-than-tablet} {width: 100%;}
      }
      
      img {
        height: 100%;
        max-height: $archive_image * 1.5;
        object-fit: cover;
      }
      
    }
    
    &.product {
      .entry-image img {
        object-fit: contain;
      }
    }
    
    .entry-header {
      padding-left: 0;
      padding-right: 0;
      margin: 0;

      .entry-title {
        width: 100%;
        font-size: var(--typography--default--font-size--xl);
        margin: 0 0 var(--sizes--margin--);
        padding: 0;
        text-align: left;
        @media #{$mq__smaller-than-tablet} {font-size: 24px;}
      }
      
      .breadcrumbs {
        margin-top: 0;
        text-align: left;
      }
    }
    
    .entry-content {
      width: 100%;
      p {
        margin: 0;
        padding: 0;
      }
    }
  
    .entry-footer {
      .post-meta {
        padding: var(--sizes--margin-m) 0 0;
      }
      .meta-wrapper {
        p {
          font-size: var(--typography--default--font-size--xs);
          text-transform: uppercase;
          margin-left: var(--sizes--margin--);
          &:first-of-type { margin-left: 0}
        }
      }
    }
  
  }
  
}