body.archive {
  
  .site-main {
   .article-container:nth-child(2n + 2) {
     background: darken($color__white, 10%);
   }
  }

  article {
    display: flex;
    margin: 0 auto;
    padding: $size__padding 0 $size__padding;
    min-height: 100px;
  
    @media #{$smaller-than-tablet} {
      flex-direction: column;
      padding: ($size__padding * .75) $size__padding-resp;
    }
  
  
    .article-wrapper {
      max-width: 100%;
    }
    
    .entry-image {
      width: 30%;
      margin-right: $size__padding * .5;
      img {
        height: 100%;
        object-fit: cover;
      }
      
      + .article-wrapper {
        width: 70%;
        
        @media #{$smaller-than-tablet} {width: 100%;}
      }
  
      @media #{$smaller-than-tablet} {
        width: 100%;
        margin: 0 auto $size__padding-resp;
      }
      
    }
    
    .entry-header {
      padding-top: 0;
    }
  
    .entry-title {
      font-size: 32px;
      margin: 0 0 $size__margin;
      text-align: left;
      @media #{$smaller-than-tablet} {font-size: 26px;}
    }
    
    .entry-content {
      width: 100%;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  
  .entry-footer {
    .meta-wrapper {
      margin: $size__margin 0 0;
      padding: 0;
    }
  }
  
  
}