// todo: styling this
.bypostauthor {
  background-color: transparent;
}


.article-author {

  .avatar{
    float: left;
    max-width: var(--sizes--margin-xl);
    margin-right: var(--sizes--margin-l);
    @media #{$mq__tablet} {
      max-width: $avatar_size;
      margin-right: var(--sizes--responsive--side-margin);
    }
    img{
      margin: 0;
      border-radius: 50%;
      overflow: hidden;
      vertical-align: middle;
    }
  }

  
  .author-details {
    display: table;
  }
  
  .author-description p {
    font-size: var(--typography--default--font-size--s);
    margin: var(--sizes--margin--) 0 ;
    line-height: var(--typography--default--line-height--wide);
  }
}