body.home {

  .entry-content {
    overflow: visible;
  }

}

body.blog {
  .page-header {
    padding-top: var(--size--margin-xl);
    padding-bottom: var(--size--margin-l);
    
    @media #{$mq__smaller-than-tablet} {
      padding-top: var(--size--margin-l);
      padding-bottom: var(--size--margin-m);
    }
  }
}