body.home {
  
  .website-hero {
    width: 100%;
    height: 60vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    background-color: $color__light-grey;
    margin-bottom: $size__padding;
  
    @media #{$mq__smaller-than-tablet} {
      height: 80vh;
      min-height: inherit;
    }
  
    &.fullpage-hero {
      height: 100vh;
      .entry-image {
        max-height: 1200px;
      }
    }
    
    & > * {
      position: relative;
    }
    
    .entry-image {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      max-height: 700px;
      @media #{$mq__smaller-than-tablet} {
        max-height: inherit;
      }
    }
    
    .hero-title {
      padding-top: $size__nav-height;
      padding-left: $size__padding-resp;
      padding-right: $size__padding-resp;
  
      h1, p {
        text-shadow: 0 2px 4px transparentize($color__black, 0.3);
        color: $color__white;
      }
      
      h1 {
        font-size: 64px;
        font-weight: 700;
        margin: 0 auto;
  
        @media #{$mq__smaller-than-tablet} {
          font-size: 44px;
          width: 100%;
        }
        @media #{$mq__smartphone} {font-size: 36px;}
        @media #{$mq__smallphone} {font-size: 30px;}
      }
      
      p {
        font-size: 19px;
        font-style: italic;
        @media #{$mq__smaller-than-tablet} {
          font-size: 17px;
          line-height: $text__line-height-headline;
        }
        @media #{$mq__smallphone} {font-size: 15px;}
      }
      
      a {
        margin-top: 32px;
        @media #{$mq__smaller-than-tablet} {
          font-size: 17px;
          padding: 10px 16px;
        }
      }
      
    }
  }
  
  .wp-block-columns {
    
    @media #{$mq__smaller-than-tablet} {
      flex-direction: column;
      .wp-block-column {
        padding-bottom: $size__padding * .5;
      }
    }
    
    .wp-block-column {
      h2,
      h3,
      h4,
      p {
        margin-top: $size__margin * 2;
      }
    }
  }
  
  // first Column mod
  .entry-content {
    overflow: visible;
    
    & > .wp-block-columns:first-child {
      overflow: visible;
      text-align: center;
      margin-top: ($size__padding * -2);
      margin-bottom: $size__padding;
      display: flex;
      flex-wrap: wrap;
  
      @media #{$mq__smaller-than-tablet} {
        text-align: left;
        margin-bottom: $size__padding * .5;
      }
      
      .wp-block-column {
        background: $color__white;
        margin: 0 ($size__padding * .5);
        padding: 0 $size__padding-resp ($size__padding-resp * 1.5);
        box-shadow: 0 8px 30px -20px transparentize($color__dark-grey, .3);
        border-radius: $size__margin / 2;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1 0 20%;
  
        @media #{$mq__smaller-than-tablet} {
          padding-bottom: 0;
          margin: 0 $size__padding-resp ($size__margin * 2);
          height: 160px;
        }
        @media #{$mq__phablet} {
          padding: 0 ($size__padding-resp * .5);
        }
        
        > * {
          display: flex;
          align-items: center;
        }
      
  
        .wp-block-image {
          justify-content: center;
  
          @media #{$mq__smaller-than-tablet} {
            flex-basis: 100%;
            margin: 0;
            width: 30%;
          }
    
          figure {
            display: block;
            width: 100%;
            margin: 0 0 ($size__margin * .5);
            @media #{$mq__smaller-than-tablet} {
              margin: 0;
              padding-right: $size__margin * 3;
              padding-left: $size__margin;
            }
            @media #{$mq__phablet} {
              padding-right: $size__padding-resp;
              padding-left: $size__padding-resp *.5;
            }
          }
    
          img {
            object-fit: contain;
            margin: ($size__padding * .5) auto $size__margin;
            height: 120px;
            @media #{$mq__smaller-than-tablet} {
              margin: 0 auto;
              padding: ($size__margin * 2) auto;
            }
          }
        }
        
        h2,
        h3 {
          font-size: 24px;
          margin: $size__margin  auto;
          
          @media #{$mq__smaller-than-tablet} {
            flex-basis: 40%;
            justify-items: flex-start;
            justify-content: flex-start;
            align-items: flex-end;
            width: 70%;
            font-size: 19px;
            margin: 0;
          }
          @media #{$mq__phablet} {
            flex-basis: 60px;
            font-size: 18px;
          }
        }
        
        p {
          line-height: 1.4;
          margin: 0;
          
          @media #{$mq__smaller-than-tablet} {
            flex-basis: auto;
            justify-items: flex-start;
            justify-content: flex-start;
            width: 70%;
            font-size: 15px;
            padding: 0;
          }
          @media #{$mq__phablet} {
            font-size: 90%;
          }
  
          a {font-weight: 400;}
    
          b, strong { color: $color__text;}
        }
      }
    }
    
  }
  
  //animations
  .entry-content > .has-3-columns.animated {
    .wp-block-column {
      overflow: hidden;
      transition: $animations__lenght * 4;
      transform: translateY(30%);
      opacity: 0;
      transition-delay: $animations__lenght * 1.5;
      
      &:nth-of-type(1) { transition-delay: $animations__lenght * 2.5}
      &:nth-of-type(3) { transition-delay: $animations__lenght * 3}
  
      @media #{$mq__smaller-than-tablet} {
        transition-delay: inherit;
        &:nth-of-type(1) { transition-delay: inherit; }
        &:nth-of-type(2) { transition-delay: $animations__lenght * .5}
        &:nth-of-type(3) { transition-delay: $animations__lenght * 1}
      }
    }
    
    &.already-see {
      .wp-block-column {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  
}

body.blog {
  .page-header {
    padding-top: $size__padding;
    padding-bottom: $size__padding * .75;
    
    @media #{$mq__smaller-than-tablet} {
      padding-top: $size__padding  * .5;
      padding-bottom: $size__padding * .25;
    }
  }
}