body.home {
  
  .website-hero {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    background-color: $color__dark-grey;
    
    & > * {
      position: relative;
    }
    
    .entry-image {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .7;
    }
    
    .hero-title {
      @if($head__direction == column) {
        padding-top: ($nav__height + $size__branding-height) * .5;
      } @elseif($head__direction == row) {
        padding-top: $nav__height * .5;
      }
      padding-left: $size__padding-resp;
      padding-right: $size__padding-resp;
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
      
      
      h1 {
        font-size: 64px;
        font-weight: 700;
        color: $color__white;
        margin: 0 $size__padding-resp;
  
        @media #{$smaller-than-tablet} {
          font-size: 48px;
        }
      }
      
      p {
        color: $color__white;
        font-size: 19px;
        font-style: italic;
      }
      
      button {
        margin-top: 32px;
      }
      
    }
  }
  
}